{% load always_escape %}
<div id="filesWithHeader">    
    <div id="filesHeaderDiv" 
        {% if not repo_dict_gen %}
            style="visibility:hidden;"
        {% endif %}> 
        {% comment %} {% if not read_only %}
            </br>
        {% endif %} {% endcomment %}
        <hr> 
        <h5 class="cblue">Uploaded Files:</h5>
    </div>

    <table class="filestable">
        {% for path in repo_dict_gen %}
        <tr>
            <td> <button class="btn btn-secondary btn-sm" type="button" onclick="window.open('{{ file_download_url }}{{ path|always_escape }}')"><span class="fas fa-file-download"></span></button></td>
            {% if not read_only %}
            <td> <button class="btn btn-secondary btn-sm" type="button" onclick="delete_and_refresh('{{ file_delete_url }}{{ path|always_escape }}','{{ obj_id }}','{{obj_type}}')"><span class="far fa-trash-alt"></span></button></td>
            {% endif %}
            <td class="filespath">{{ path }} </td>
        </tr>
        {% endfor %}
    </table>
    {% if obj_type == "submission" and repo_dict_gen%}
        <br>
        <button class="btn btn-secondary btn-sm" type="button" onclick="delete_all_and_refresh('{{ obj_id }}')"><span class="far fa-trash-alt"></span> Delete All</button>
    {% endif %}
    <br>
    {% if obj_type == "submission" %}
    <button type="button" onclick="window.location.href = '../downloadall/'"><span class="fas fa-file-download">Download submission</span></button>
    <input type="button" name="downloadall" value="Download submission" onClick="window.location.href = '../downloadall/';">
    {% else %}
    <button class="btn btn-secondary btn-sm" type="button" onclick="window.location.href = '../downloadall/'"><span class="fas fa-file-download"></span>Download manuscript</button>

    <input type="button" name="downloadall" value="Download manuscript" onClick="window.location.href = '../downloadall/';">
    {% endif %}
    </div>