{% load always_escape %}
<div id="filesWithHeader">    
    <div id="filesHeaderDiv" 
        {% if not files_dict_list %}
            style="visibility:hidden;"
        {% endif %}> 
        {% comment %} {% if not read_only %}
            </br>
        {% endif %} {% endcomment %}
        {% if not landing_page %}
        <hr> 
        {% endif %}
        {% if not landing_page %}<h5 class="cblue">Uploaded Files:</h5> {% endif %}
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <table id="filestable" class="filestable">
            {% for path in files_dict_list %}
                <tr>
                    <td> <button class="btn btn-secondary btn-sm" type="button" onclick="window.open('{{ file_download_url }}{{ path|always_escape }}')"><span class="fas fa-file-download"></span></button></td>
                    {% if not read_only %}
                    <!-- <td> <button class="btn btn-secondary btn-sm" type="button" onclick="delete_and_refresh('{{ file_delete_url }}{{ path|always_escape }}','{{ obj_id }}','{{obj_type}}')"><span class="far fa-trash-alt"></span></button></td> -->
                    <td> <button class="btn btn-secondary btn-sm" type="button" onclick="delete_and_remove(this,'{{ path|always_escape }}')"><span class="far fa-trash-alt"></span></button></td>
                    {% endif %}
                    <td class="filespath">
                        {% if read_only %}
                        {{ path }}
                        {% else %}
                        <input name="file:{{ path }}" type="text" style="width:500px" value='{{ path }}'> 
                        {% endif %}
                    </td>
                    {% if obj_type == "submission" %}
                    <td><img style="height:30px; width:30px" src="../newfilecheck/?file_path={{ path|always_escape }}"/></td>
                    {% endif %}
                </tr> 
            {% endfor %}
        </table>
        {% if not read_only %}
        <input type="submit" name="submit" value="Submit">
        <input type="submit" id="submit_continue_fileslist" name="submit_continue" value="Submit" style="visibility:hidden;">
        {% endif %}
    </form>

    {% if obj_type == "submission"%}
        <br>
        <button {% if not files_dict_list %}style="visibility:hidden;"{% endif %} id="deleteallbutton" class="btn btn-secondary btn-sm" type="button" onclick="delete_all_and_refresh('{{ obj_id }}')"><span class="far fa-trash-alt"></span> Delete All</button>
    {% endif %}
    <br>
   
    </div>