<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/basic.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.js"></script>
{% if not read_only %}
    {% if errors %}
    <ul id="fileserrorlist" class="errorlist">
        {% for error in errors %}
            <li>
                {{error}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form class="dropzone" action="." style="margin-bottom:10px" method="post" enctype="multipart/form-data" id="dropform">
        {% csrf_token %}
    </form>
    <form id="generic_object_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if m_status == "new" or s_status == "new" or s_status == "rejected_editor" %}
            <input type=button value="Back" onclick="location.href='../edit/'">
            {% if obj_type == "submission" %}
            <!-- <button type="button" onclick="window.location.href = '../downloadall/'"><span class="fas fa-file-download">Download submission</span></button> -->
            <input type="button" name="downloadall" value="Download submission" onClick="window.location.href = '../downloadall/';">
            {% else %}
            <!-- <button class="btn btn-secondary btn-sm" type="button" onclick="window.location.href = '../downloadall/'"><span class="fas fa-file-download"></span>Download manuscript</button> -->
        
            <input type="button" name="downloadall" value="Download manuscript" onClick="window.location.href = '../downloadall/';">
            {% endif %}
            {% if obj_type == 'submission' %}
                {% if skip_docker %}
                    <input type="button" name="submit_continue" value="Submit"  onClick="if (confirm('Docker is disabled for this installation, so by clicking submit this submission will be handed off to the editor, and then the curation team. Is that ok?')) {document.getElementById('submit_continue_fileslist').click();}">
                {% else %}
                    <input type="button" name="submit_continue" value="Launch Notebook" onclick="document.getElementById('submit_continue_fileslist').click()" >
                {% endif %}
                
            {% else %}
                <input type="button" name="submit_continue" value="Continue" onclick="document.getElementById('submit_continue_fileslist').click()">
            {% endif %}
        {% else %}
            <input type=button value="Home" onClick="location.href='/'">
            {% if obj_type == "submission" %}
            <!-- <button type="button" onclick="window.location.href = '../downloadall/'"><span class="fas fa-file-download">Download submission</span></button> -->
            <input type="button" name="downloadall" value="Download submission" onClick="window.location.href = '../downloadall/';">
            {% else %}
            <!-- <button class="btn btn-secondary btn-sm" type="button" onclick="window.location.href = '../downloadall/'"><span class="fas fa-file-download"></span>Download manuscript</button> -->
        
            <input type="button" name="downloadall" value="Download manuscript" onClick="window.location.href = '../downloadall/';">
            {% endif %}
        {% endif %}

    </form>
    <script type="text/javascript">
        obj_type = "{{obj_type}}"
        obj_id = {{ obj_id }}
        Dropzone.options.dropform = {
            parallelUploads: 1,
            timeout: 0,
            url: '../uploader/',
            dictDefaultMessage:'Drop files here or click to open upload window',
            init: function () {
                this.on('success', function(file) {
                    var args = Array.prototype.slice.call(arguments);    

                    if(file.fullPath){
                        full_name = "/" + file.fullPath
                    } else {
                        full_name = "/" + file.name
                    }
                    encode_full_name = encodeURIComponent(full_name)
                    
                    // console.log(encode_full_name)

                    document.getElementById("filesHeaderDiv").style.visibility = 'visible';

                    $("#filestable").append(`<tr>
                        <td> <button class="btn btn-secondary btn-sm" type="button" onclick="window.open('../downloadfile/?file_path=`+encode_full_name+`')"><span class="fas fa-file-download"></span></button></td>
                        <td> <button class="btn btn-secondary btn-sm" type="button" onclick="delete_and_remove(this, '`+encode_full_name+`')"><span class="far fa-trash-alt"></span></button></td>
                        <td class="filespath"><input name="file:`+full_name+`" type="text" style="width:500px" value='`+full_name+`'> </td>
                        {% if obj_type == "submission" %}
                        <td><img style="height:30px; width:30px" src="../newfilecheck/?file_path=`+encode_full_name+`"/></td>
                        {% endif %}
                        </tr>`);
                    
                    this.removeFile(file);
                });
                this.on("processing", function(file, xhr, data) {
                    var deleteallbutton = document.getElementById("deleteallbutton");
                    if(deleteallbutton) {
                        deleteallbutton.disabled = true;
                    }
                    //deleteallbutton.style.display = "none";
                });
                this.on("queuecomplete", function(file, xhr, data) {
                    var deleteallbutton = document.getElementById("deleteallbutton");
                    if(deleteallbutton) {
                        deleteallbutton.disabled = false;
                        deleteallbutton.style.visibility = 'visible';
                    }
                    //deleteallbutton.style.display = "block"; 
                });
                this.on("sending", function(file, xhr, data) {
                    // if file is actually a folder
                    if(file.fullPath){
                        data.append("fullPath", file.fullPath);
                    }
                });
            }
        };

    </script>
{% endif %}