<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/basic.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.js"></script>
{% if not read_only %}
    {% if error %}
    <ul id="fileserrorlist" class="errorlist">
        <li>
            {{error}}
        </li>
    </ul>
    {% endif %}
    <form class="dropzone" action="." style="margin-bottom:10px" method="post" enctype="multipart/form-data" id="dropform">
        {% csrf_token %}
    </form>
    <form id="generic_object_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if m_status == "new" or s_status == "new" or s_status == "rejected_editor" %}
            <input type=button value="Back" onclick="location.href='../edit/'">
            {% if obj_type == 'submission' %}
                <input type="submit" name="submit_continue" value="Launch Notebook">
            {% else %}
                <input type="submit" name="submit_continue" value="Continue">
            {% endif %}
        {% else %}
            <input type=button value="Home" onClick="location.href='/'">
        {% endif %}
    </form>
    <script type="text/javascript">
        obj_type = "{{obj_type}}"
        obj_id = {{ obj_id }}
        Dropzone.options.dropform = {
            parallelUploads: 1,
            timeout: 0,
            url: '../uploader/',
            init: function () {
                this.on('success', function(file) {
                    var args = Array.prototype.slice.call(arguments);          
                    $("#filesWithHeader").load("/"+obj_type+"/"+obj_id+"/fileslist")
                    this.removeFile(file);
                });
                this.on("sending", function(file, xhr, data) {
                    // if file is actually a folder
                    if(file.fullPath){
                        data.append("fullPath", file.fullPath);
                    }
                });
            }
        };

    </script>
{% endif %}