<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/basic.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.js"></script>
<script> 
  //TODO: there's a better way than this
  //Right now we directly swap a bunch of variables in the script still... (git_id, GIT_LAB_URL_ENV.. etc...)
  obj_type = "{{obj_type}}"
  obj_id = {{ obj_id }}
  branch = "{{ repo_branch }}"
</script>
<script type="text/javascript">
    //NOTE: This implementation causes 2 files base64 to be cached in browser at a time.
    //      It can cause a fair bit of ballooning but its acceptable for now.
    //      We can't just move the base64 gen to processing as then the async task isn't ready..
    //
    //      This looks very similar, although they are using a second library as well: https://github.com/FineUploader/fine-uploader/issues/1711
    reader = null;
    base64 = null;
    Dropzone.options.dropdiv = {
      url: "FAKE", //is replaced during file upload
      //method: "post",
      maxFilesize: 0, // MB
      autoProcessQueue: false, //We first need to convert the files to base 64
      timeout: 30000000,
      parallelUploads: 1,
      headers: {
          'X-CSRFToken': "{{csrf_token}}"
      },
      accept: function(file, done) {
        if (file.name.indexOf(".zip") != -1) {
          done("Cannot upload zip files!");
        }
        else { done(); }
      },
      init: function () {
        this.on("processing", function(file) {
          path = file.fullPath
          if(path === undefined) { //fullPath is undefined if no folder
            path = file.name
          }
          this.options.url = "{{ GIT_LAB_URL_ENV }}/{{ GIT_API_VERSION_ENV }}/projects/{{git_id}}/repository/files/"+escape(path).replace('/','%2F')+"?branch="+branch+"&commit_message=file added&encoding=base64&private_token={{ GIT_PRIVATE_ADMIN_TOKEN_ENV_MAD_DELETE }}";
        });
        this.on('success', function() {
          var args = Array.prototype.slice.call(arguments);          
          $("#filesWithHeader").load("/"+obj_type+"/"+obj_id+"/fileslist")
          this.processQueue(); //call the next file
        });
        this.on("addedfile", function(file){
          var _this=this,
              reader = new FileReader();
          reader.onload = function(event) {
              base64 = event.target.result.split(',')[1]; //Strip headers
              _this.processQueue(); //For some reason I have to call this here AND in sucess to get multiple files to process.
          };
          reader.readAsDataURL(file);
          reader = null; //probably does nothing
        });
        //testing file paths
        //TODO: Delete this?
        this.on("sending", function(file, xhr, data) {
            // if file is actually a folder
            if(file.fullPath){
                //console.log(file.fullPath)
                //data.append("fullPath", file.fullPath);
            }
        });
      },
      // Defining here overrides default functionality
      sending: function (file, xhr, data) {
        data.append("ref", "master");
        data.append("content", base64);
      },

    };

</script>

<div id="dropdiv" name="thing" class="dropzone dz-clickable" ></div>