{% load static %}

<script> username = '{{ user.get_username }}' </script>
{% comment %} 
Grabbed from: https://stackoverflow.com/questions/25651204/
The solution creates a fake disabled button while hiding the real ones. This is because if we disable the real buttons then the value of the button does not pass in the form body.
This script may break other events attempting to listening to submit 
{% endcomment %}
<script>
    for (let i = 0; i < document.forms.length; i++) {
        $(document.forms[i]).submit(function(e){    
            if ($.validator && !$(this).valid()) return;

            var form = $(this);
            $(this).find('input[type="submit"], input[type="button"], button[type="submit"]').each(function (index) {
                $(this).clone(false).removeAttr('id').prop('disabled', true).insertBefore($(this));

                $(this).hide();
                form.prepend($(this));
            });
        });
    }

</script>
{% comment %} <script src="{% static 'main/note_table_modifications.js' %}"></script> {% endcomment %}


{% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script> {% endcomment %}