{% extends "main/layout.html" %}
{% block content %}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}

<form action="{{id|default_if_none:""}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" name="submit" value="Submit">
    <input type="submit" name="submit_and_update_status" value="Submit and Progress Status">
</form>

{% endblock content %}