{% extends "main/layout.html" %}
{% block content %}
{% load concat %}
{% load crispy_forms_tags %}
{% load always_escape %}
<script> 
  gitlab_user_token = "{{gitlab_user_token}}"
</script>
{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% crispy form helper %}
    {% if not read_only %}
    <input type="submit" name="submit" value="Save">
    <input type="button" name="upload" value="Upload/Delete Files" onClick="window.location.href = './uploadfiles';">
    {% endif %}
    {% block extrabuttons %}
    {% endblock %}
    <input type="button" value="Back" onClick="javascript:history.go(-1);">
</form>

{% endblock content %}