{% extends "main/layout_fixed.html" %}
{% block content %}
{% include "main/page_title.html" %}

{% if not read_only %}
{% include "main/file_upload.html" %}
{% else %}
<input type=button value="Home" onClick="location.href='..';">
{% endif %}

<div class="accordion" style="margin:10px -21px" id="manuscriptAccordionPanels">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Files (1)
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#manuscriptAccordionPanels" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">                
          <div id="files_list_holder">
            {% include "main/file_list.html" %}
          </div>
        </div>
      </div>
    </div>
</div>

<script>
    function delete_and_refresh(delete_url, id, obj_type){
        var headers = new Headers();
        headers.append('X-CSRFToken', '{{ csrf_token }}');
        fetch(delete_url, {
            method: 'POST',
            headers: headers, 
            credentials: 'include'
        }).then(response => {
            $("#filesWithHeader").load("/"+obj_type+"/"+id+"/fileslist/")
        })
    }
    function delete_and_remove(elem, file_path){
        delete_url = "../deletefile/?file_path=" + file_path;
        var headers = new Headers();
        headers.append('X-CSRFToken', '{{ csrf_token }}');
        fetch(delete_url, {
            method: 'POST',
            headers: headers, 
            credentials: 'include'
        }).then(response => {
            // console.log(response.status)
            if(response.ok) {
                elem.parentElement.parentElement.remove()
            }
        })
    }
    function delete_all_and_refresh(id){
        var headers = new Headers();
        headers.append('X-CSRFToken', '{{ csrf_token }}');
        fetch("/submission/"+id+"/deleteallfiles/", {
            method: 'POST',
            headers: headers, 
            credentials: 'include'
        }).then(response => {
            $("#filesWithHeader").load("/submission/"+id+"/fileslist/")
        })
    }
</script>
<form id="generic_object_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if m_status == "new" or s_status == "new" or s_status == "rejected_editor" %}
        <input type=button value="Back" onclick="location.href='../edit/'">
        {% if obj_type == 'submission' %}
            {% if skip_docker %}
                <input type="button" name="submit_continue" value="Submit"  onClick="if (confirm('Docker is disabled for this installation, so by clicking submit this submission will be handed off to the editor, and then the curation team. Is that ok?')) {document.getElementById('submit_continue_fileslist').click();}">
            {% elif not containerized %}
                <input type="button" name="submit_continue" value="Submit" onClick="if (confirm('This submission will be handed off to the editor, and then the curation team. Is that ok?')) {document.getElementById('submit_continue_fileslist').click();}">
            {% else %}
                <input type="button" name="submit_continue" value="Launch Notebook" onclick="document.getElementById('submit_continue_fileslist').click()" >
            {% endif %}
            
        {% else %}
            <input type="button" name="submit_continue" value="Continue" onclick="document.getElementById('submit_continue_fileslist').click()">
        {% endif %}
    {% else %}
        <input type=button value="Home" onClick="location.href='/'">
    {% endif %}

</form>
{% if obj_type == "submission" and not read_only and containerized%}
<br>
<p style="color:gray"><i>By click Launch Notebook, you will be sent to the next step where your files will be sent to Whole Tale to launch a web environment to run your code. If you need to upload more files, you can do this through the environment or by coming back to this page and uploading new files.</i></p>
{% endif %}
{% endblock content %}