{% extends "main/layout.html" %}
{% block content %}
{% load concat %}
{% load crispy_forms_tags %}
{% load always_escape %}

<script> 
  gitlab_user_token = "{{gitlab_user_token}}"
</script>
{% comment %} Disabled ajax add/remove formset entry code. Library seemed to flakey, maybe we'll use it later. {% endcomment %}
{% comment %} 
{% load static %}
<script src="{% static 'main/jquery.formset.20201005.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#file_note_nested_form tbody tr').formset();
    })
</script> {% endcomment %}

<h5 class="my-3"> {{page_header}}: {{root_object_title}} </h5>
<form id="file_note_nested_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ children_formset.management_form }}
    {{ children_formset.non_form_errors }}
    {% crispy children_formset helper %}

    {% if not read_only %}
        <input type="submit" name="submit" value="Save">
        <input type="button" name="upload" value="Upload/Delete Files" onClick="window.location.href = './uploadfiles';">
    {% endif %}
    {% block extrabuttons %}{% endblock %}
    <input type="button" value="Back" onClick="javascript:history.go(-1);">
</form>

<script>
    {% comment %}
    Gets all the note tables and iterates through the tables.
    Gets the last note tr, and from that sets the display of the creator dropdown to the user.get_username
    This was required to set the field to be the username. 
    Setting the selection on the backend conflicts with disabling the field, and hacking validation was a pain/unsafe.
    That being said, this is pretty brittle as well.
    {% endcomment %}
    tables = document.getElementsByClassName("notes-table")
    console.log(tables)
    for (let table of tables) {
      var lastTr = table.lastElementChild.lastElementChild;
      lastTr.firstElementChild.firstElementChild.firstElementChild.firstElementChild.textContent='{{ user.get_username }}'
    }
</script>

{% endblock content %}