{% extends "main/layout_fixed.html" %}
{% block content %}
{% load concat %}
{% load crispy_forms_tags %}
 
{% include "main/page_header.html" %}    
<form id="generic_object_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form helper %}

    {% comment %} {% if not read_only %} {% endcomment %}
    <input type="submit" value="Save" title="Save content" aria-label="Save content">
    {% comment %} {% endif %} {% endcomment %}

    <input type=button value="Back" title="Return to previous page" aria-label="Return to previous page" onClick="javascript:history.go(-1);">
</form>

{% endblock content %}