{% extends "main/layout.html" %}
{% block content %}
{% load concat %}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type=button value="Back" onClick="javascript:history.go(-1);">
</form>
{% for note in notes %}
    <p>{{note.text}} by {{note.creator}} 
    </p> 
{% endfor %}

{% endblock content %}