{% extends "main/layout.html" %}
{% block content %}
{% load groups_contain_count %}
{% load crispy_forms_tags %}
{{ form.media.css }}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}
<form action="" method="post">
    {% csrf_token %}
    <h5 class="my-3"> {{role_name}} Management for Manuscript {{id}} </h5>
    <table>
        {{form|crispy}}
    </table>
    <input type="submit" name="submit" value="Submit">
    <input type=button value="Back" onClick="javascript:history.go(-1);">
</form>
<h6 class="my-3">{{role_name}}s assigned to Manuscript</h6>
<table class="table table-striped table-bordered">
    <tr>
        <th>Username</th>
        {% if role_name != "Author" or can_remove_author %}
            <th>Total {{role_name}} Assignments</th>
            <th>Delete</th>
        {% endif %}
    </tr>
    {% for u in assigned_users %}
    <tr>
        <td>{{ u.username }}</td>
        {% if role_name != "Author" or can_remove_author %}
            <td>{{ u|groups_contain_count:group_substring }}</td>
            <td><a href="/manuscript/{{id}}/unassign{{role_name|lower}}/{{u.id}}">DELETE</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{{ form.media.js }}
{% endblock content %}