{% extends "main/layout.html" %}
{% block content %}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" name="submit" value="Save">
    <input type="submit" name="submit" value="Save and Assign to Authors">
    <input type=button value="Back" onClick="javascript:history.go(-1);">
</form>

{% endblock content %}