{% extends "main/layout.html" %}
{% block content %}
{% load concat %}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" name="submit" value="Save">
    <input type="submit" name="submit" value="Submit and Progress">
    <input type=button value="Back" onClick="javascript:history.go(-1);">
</form>
<a href='createnote'>Add note</a>
{% for note in notes %}
    <p>{{note.text}} by {{note.creator}}
    {% if user.username == note.creator.username %}

        (<a href={{ 'editnote/'|concat:note.id}}>Edit</a>) (<a href={{ 'deletenote/'|concat:note.id}}>Delete</a>)
    {% endif %}
    </p> 
{% endfor %}

{% endblock content %}