{% extends "main/layout_fixed.html" %}
{% block content %}
{% load concat %}
{% load auth_extras %}
{% load crispy_forms_tags %}

{% comment %} Disabled ajax add/remove formset entry code. Library seemed to flakey, maybe we'll use it later. {% endcomment %}
{% load static %}
<script src="{% static 'main/jquery.formset.20201005.coreremod.js' %}"></script>
<script type="text/javascript">
    $(function () {
        {% if author_formset.extra != 0 %}
        $('#author_table tbody tr').formset({
            prefix: '{{ author_formset.prefix }}',
            formCssClass: 'author_table',
            addText: 'add author'
            {% if request.user|has_group:"Role Author" %}
            , hideLastAddForm: false
            {% endif %}
        });
        {% endif %}
        {% if data_source_formset.extra != 0 %}
        $('#data_source_table tbody tr').formset({
            prefix: '{{ data_source_formset.prefix }}',
            formCssClass: 'data_source_table',
            addText: 'add data source'
            {% if request.user|has_group:"Role Author" %}
            , hideLastAddForm: false
            {% endif %}
        });
        {% endif %}
        {% if keyword_formset.extra != 0 %}
        $('#keyword_table tbody tr').formset({
            prefix: '{{ keyword_formset.prefix }}',
            formCssClass: 'keyword_table',
            addText: 'add keyword'
            {% if request.user|has_group:"Role Author" %}
            , hideLastAddForm: false
            {% endif %}
        });
        {% endif %}
    })
</script>
{% include "main/page_title.html" %}    
<form id="generic_object_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form manuscript_helper %}
    <hr>
    {% if author_formset %}
        <h5 class="cblue">Authors{% if request.user|has_group:"Role Author" %}*{% endif %}</h5>
        {{ author_formset.non_form_errors }}
        {% crispy author_formset author_inline_helper %}
        <hr>
    {% endif %}
    {% if data_source_formset %}
        <h5 class="cblue">Data Sources<span class="fas fa-question-circle tooltip-icon" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Description about data sources"></span></h5>
        {{ data_source_formset.non_form_errors }}
        {% crispy data_source_formset data_source_inline_helper %}
        <hr>
    {% endif %}
    {% if keyword_formset %}
        <h5 class="cblue">Keywords{% if request.user|has_group:"Role Author" %}*{% endif %}</h5>
        {{ keyword_formset.non_form_errors }}
        {% crispy keyword_formset keyword_inline_helper %}
        <hr>
    {% endif %}

    {% if not read_only %}
        {% if create %}
            <input type=button value="Home" onClick="location.href='..';">
            <input type="submit" name="submit_continue" value="Create and Continue">
        {% elif from_submission %}
            <input type=button value="Home" onClick="val = confirm('You must complete these forms to create your submission. Are you sure you\'d like to return home?'); if(val){location.href='..';}">
            <input type="submit" name="submit_continue_submission" value="Save and Continue">
        {% elif m_status == "new" %}
            <input type=button value="Home" onClick="val = confirm('You must complete these forms to create your manuscript. Are you sure you\'d like to return home?'); if(val){location.href='..';}">
            <input type="submit" name="submit_continue" value="Save and Continue">
        {% else %}
            <input type=button value="Home" onClick="location.href='..';">
            <input type="submit" name="submit" value="Save">
        {% endif %}
    {% else %}
        <input type=button value="Home" onClick="location.href='..';">
    {% endif %}

</form>
{% if obj_type != 'manuscript' %}
<script>
    {% comment %} 
    Goes through each note and checks if the author is our user. If not, disables the delete checkbox
    We do this before the other script to remove the delete option from new notes.
    {% endcomment %}
    for( let elem of document.getElementById('note_table').lastElementChild.childNodes){
        if(elem.tagName == 'TR') {
            if(elem.firstElementChild.tagName == 'TD'){
                creator_selectbox = elem.firstElementChild.firstElementChild.firstElementChild

                if(creator_selectbox.options[creator_selectbox.selectedIndex].text != '{{ user.get_username }}') {
                    for(let celem of elem.childNodes) {
                        if(celem.tagName == 'TD') {
                            if(celem.id.endsWith('DELETE')) {
                                celem.firstElementChild.firstElementChild.style.display = 'none'
                            }
                        }
                    }
                }
            }
        }
    }

    {% comment %}
    Gets the last note tr, and from that sets the display of the creator dropdown to the user.get_username
    This was required to set the field to be the username. 
    Setting the selection on the backend conflicts with disabling the field, and hacking validation was a pain/unsafe.
    That being said, this is pretty brittle as well.
    {% endcomment %}

    var lastTr = document.getElementById('note_table').lastElementChild.lastElementChild;
    lastTr.firstElementChild.firstElementChild.firstElementChild.firstElementChild.textContent='{{ user.get_username }}'

    
</script>
{% endif %}

{% endblock content %}