{% extends "main/layout_fixed.html" %}
{% block content %}
{% load groups_contain_count_no_completed %}
{% load crispy_forms_tags %}
{% comment %} {{ form.media.css }} {% endcomment %}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}
<script type="text/javascript">
    {% autoescape off %}
    user_table_map=new Map({{ select_table_info }});
    {% endautoescape %}
    function unassign(manuscriptid, rolename, userid) {
        var headers = new Headers();
        headers.append('X-CSRFToken', '{{ csrf_token }}');
        fetch('/manuscript/'+manuscriptid+'/unassign'+rolename+'/'+userid+'/', {
            method: 'POST',
            headers: headers, 
            credentials: 'include'
        }).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        })
    }
</script>

{% include "main/page_title.html" %}
<form action="" method="post">
    {% csrf_token %}
    {% crispy form helper %}
    <input type=button value="Back" title="Return to previous page" aria-label="Return to previous page" onclick="location.href='../uploadfiles/'">
    <input type="submit" name="submit" value="Submit" title="Add author to manuscript and hand the manuscript to the author to add their data/code" aria-label="Add author to manuscript and hand the manuscript to the author to add their data/code" onClick="return confirm('This manuscript will be handed off to the Author, is that ok?');">
</form>

{{ form.media.js }}

{% endblock content %}