{% extends "main/layout.html" %}
{% block content %}
{% load concat %}
{% load crispy_forms_tags %}
{% load always_escape %}

<h5 class="my-3"> {{page_header}}: {{root_object_title}} </h5>

<form id="file_note_nested_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ children_formset.non_form_errors }}
    {% crispy children_formset helper %}
    {% if s_status == "new" %}
        <input type="submit" name="back_save" value="Back">
        <input type="button" name="downloadall" value="Download submission" onClick="window.location.href = '../downloadall/';">
        {% if not read_only %}
        <input type="submit" name="submit" value="Submit">
        {% endif %}
    {% else %}
        <input type=button value="Home" onclick="location.href='/manuscript/{{parent_id}}/'">
        <input type="button" name="downloadall" value="Download submission" onClick="window.location.href = '../downloadall/';">
        {% if not read_only %}
        <input type="submit" name="submit" value="Save">
        {% endif %}
    {% endif %}
    {% comment %} {% if not read_only %}
        <input type="button" name="upload" value="Upload/Delete Files" onClick="window.location.href = '../uploadfiles/';">
    {% endif %} {% endcomment %}
    
</form>

<script>
    tables = document.getElementsByClassName("notes-table")
    {% comment %} 
    Goes through each note and checks if the author is our user. If not, disables the delete checkbox
    We do this before the other script to remove the delete option from new notes.
    {% endcomment %}
    for (let table of tables) {
        for( let elem of table.firstElementChild.childNodes){
            if(elem.tagName == 'TR') {
                if(elem.firstElementChild.tagName == 'TD'){
                    creator_selectbox = elem.firstElementChild.firstElementChild.firstElementChild
                    if(creator_selectbox.options[creator_selectbox.selectedIndex].text != '{{ user.get_username }}') {
                        for(let celem of elem.childNodes) {
                            if(celem.tagName == 'TD') {
                                if(celem.id.endsWith('DELETE')) {
                                    celem.firstElementChild.firstElementChild.style.display = 'none'
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    {% comment %}
    Gets all the note tables and iterates through the tables.
    Gets the last note tr, and from that sets the display of the creator dropdown to the user.get_username
    This was required to set the field to be the username. 
    Setting the selection on the backend conflicts with disabling the field, and hacking validation was a pain/unsafe.
    That being said, this is pretty brittle as well.
    {% endcomment %}
    tables = document.getElementsByClassName("notes-table")
    for (let table of tables) {
        var lastTr = table.lastElementChild.lastElementChild;
        lastTr.firstElementChild.firstElementChild.firstElementChild.firstElementChild.textContent='{{ user.get_username }}'
    }


</script>

{% endblock content %}

