{% extends "main/layout_fixed.html" %}
{% block content %}
{% load concat %}
{% load crispy_forms_tags %}

{% load static %}
<script src="{% static 'main/jquery.formset.20201005.coreremod.js' %}"></script>

{% include "main/page_title.html" %}    
<form id="generic_object_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form helper %}

    {% if verification_formset %}
        <h5 class="cblue">Verifier Review</h5>
        {{ verification_formset.non_form_errors }}
        {% crispy verification_formset helper %}
        <hr>
    {% endif %}
    {% if curation_formset %}
        <h5 class="cblue">Curator Review</h5>
        {{ curation_formset.non_form_errors }}
        {% crispy curation_formset helper %}
        <hr>
    {% endif %}
    {% if edition_formset %}
        <h5 class="cblue">Editor Review</h5>
        {{ edition_formset.non_form_errors }}
        {% crispy edition_formset helper %}
        <hr>
    {% endif %}

    {% if obj_type != 'manuscript' %} {% comment %} and note_formset and note_helper | This may lead to view mistakes failing silently {% endcomment %}
        {% include "main/note_list.html" %} 
        <hr>   
    {% endif %}

    {% comment %} Putting read_only checks around every submit was done to make the view page show up right even when you are a role that could edit at that point {% endcomment %}
    {%comment%} here we need to add an option for when we are in "read only" to show the submit button still {%endcomment%}
    {% if read_only %}
        <input type=button value="Home" onClick="location.href='/manuscript/{{parent_id}}/';">
        <input type="submit" name="submit" value="Save">
    {% elif verification_formset %}
        <input type=button value="Home" onClick="location.href='/manuscript/{{parent_id}}/';">
        <input type="submit" name="submit" value="Save" onclick="return confirm('This will save the current state of the form, but you will need to return to this page to submit your review.');">
        <input type="submit" name="submit_progress_verification" value="Submit and Progress" onclick="return confirm('Once you hand off this form, editing will be locked. Is this ok?');">
    {% elif curation_formset %}
        {% comment %}cases to add: curation issues and no verification, curation issues and verification, no curation issues and no verification, no curation issues and no verification{%endcomment%}
        <input type=button value="Home" onClick="location.href='/manuscript/{{parent_id}}/';">
        <input type="submit" name="submit" value="Save" onclick="return confirm('This will save the current state of the form, but you will need to return to this page to submit your review.');">
        <input type="submit" name="submit_progress_curation" value="Submit and Progress"  id="submit_progress_curation_button" >

        <script>
            var submit_button = document.getElementById('submit_progress_curation_button');
            submit_button.onclick = function() {
                var nv_checkbox = document.getElementById('id_curation_formset-0-needs_verification');
                var cur_status = document.getElementById('id_curation_formset-0-_status'); //cur_status.value
                console.log(cur_status.value)
                if(nv_checkbox.checked) {
                    if(cur_status.value == 'no_issues'){
                        return confirm('You have approved this submission, and review will be handed to the verifiers. Is this ok?');
                    } else {
                        return confirm('You have not approved this submission, but review will still be handed to the verifiers. Is this ok?');
                    }
                } else {
                    if(cur_status.value == 'no_issues'){
                        return confirm('You have approved this submission, but have not selected verification. After this the manuscript will be ready for completion. Is this ok?');
                    } else {
                        return confirm('You have not approved this submission and have not selected verification. After this the editor will be able to create another submission. Is this ok?');
                    }
                }
            };

            </script>
    {% elif create %}
        <input type=button value="Home" onClick="location.href='/manuscript/{{parent_id}}/';">
        <input type="submit" name="back_save" value="Back">
        <input type="submit" name="submit_continue" value="Create and Continue">
    {% elif s_status == "new" or s_status == "rejected_editor"%}
        <input type=button value="Home" onClick="val = confirm('You must complete these forms to create your submission. Are you sure you\'d like to return home?'); if(val){location.href='/manuscript/{{parent_id}}/';}">
        <input type="submit" name="back_save" value="Back">
        <input type="submit" name="submit_continue" value="Save and Continue">
    {% elif edition_formset %}
        <input type=button value="Home" onClick="location.href='/manuscript/{{parent_id}}/';">
        <input type="submit" name="submit" value="Save" onclick="return confirm('This will save the current state of the form, but you will need to return to this page to submit your review.');">
        <input type="submit" name="submit_progress_edition" value="Submit and Progress" onclick="return confirm('Once you hand off this form, editing will be locked. Is this ok?');">
    {% else %}
        {% comment %} <input type="submit" name="submit_progress_submission" value="Submit and Progress" onclick="return confirm('Once you hand off this form, editing will be locked. Is this ok?');"> {% endcomment %}
        <input type=button value="Home" onClick="location.href='/manuscript/{{parent_id}}/';">
        <input type="submit" name="submit_continue" value="Save">
    {% endif %}

</form>
{% if obj_type != 'manuscript' %}
{% comment %} WHY ISN'T THIS IN note_list.html {% endcomment%}
<script>
    {% comment %} 
    Goes through each note and checks if the author is our user. If not, disables the delete checkbox
    We do this before the other script to remove the delete option from new notes.
    {% endcomment %}
    for( let elem of document.getElementById('note_table').lastElementChild.childNodes){
        if(elem.tagName == 'TR') {
            if(elem.firstElementChild.tagName == 'TD'){
                creator_selectbox = elem.firstElementChild.firstElementChild.firstElementChild

                if(creator_selectbox.options[creator_selectbox.selectedIndex].text != '{{ user.get_username }}') {
                    for(let celem of elem.childNodes) {
                        if(celem.tagName == 'TD') {
                            if(celem.id.endsWith('DELETE')) {
                                celem.firstElementChild.firstElementChild.style.display = 'none'
                            }
                        }
                    }
                }
            }
        }
    }

    {% comment %}
    Gets the last note tr, and from that sets the display of the creator dropdown to the user.get_username
    This was required to set the field to be the username. 
    Setting the selection on the backend conflicts with disabling the field, and hacking validation was a pain/unsafe.
    That being said, this is pretty brittle as well.
    {% endcomment %}

    var lastTr = document.getElementById('note_table').lastElementChild.lastElementChild;
    lastTr.firstElementChild.firstElementChild.firstElementChild.firstElementChild.textContent='{{ user.get_username }}'

    
</script>
{% endif %}

{% endblock content %}