{% extends "main/layout.html" %}
{% block content %}
{% load concat %}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    {% if read_only is not True %}
    <input type="submit" name="submit" value="Save">
    <input type="submit" name="submit" value="{{transition_text}}">
    {% endif %}
    <input type=button value="Back" onClick="javascript:history.go(-1);">
</form>
{% if read_only is not True %}
<a href='createnote'>Add note</a> {% comment %} This gets added to manuscript but I'm not sure it should be {% endcomment %}
{% endif %}
{% for note in notes %}
    <p>{{note.text}} by {{note.creator}} 
    {% if read_only is not True %}
    {% if user.username == note.creator.username %}
        (<a href={{ 'editnote/'|concat:note.id}}>Edit</a>) (<a href={{ 'deletenote/'|concat:note.id}}>Delete</a>)
    {% endif %}{% endif %}
    </p> 
{% endfor %}

{% endblock content %}