{% extends "main/layout.html" %}
{% block content %}
{% load concat %}
{% load crispy_forms_tags %}

{% comment %} See the failed attempt html for more form customization and stuff trying to use dropzone {% endcomment %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} <table> {% endcomment %}
        {% comment %} {{form|crispy}} {% endcomment %}
        {% crispy form helper %}
    {% comment %} </table> {% endcomment %}
    {% if not read_only %}
    <input type="submit" name="submit" value="Save">
    <input type="submit" name="submit" value="{{transition_text}}">
    {% endif %}
    {% block extrabuttons %}
    {% endblock %}
    <input type=button value="Back" onClick="javascript:history.go(-1);">
</form>
{% comment %}TODO: Move the below stuff to sub-templates and only use them on certain objects{% endcomment %}

{% if not read_only %}
<a href='createnote'>Add note</a> {% comment %} This gets added to manuscript but I'm not sure it should be {% endcomment %}
{% endif %}
{% for note in notes %}
    <p>{{note.text}} by {{note.creator}} 
    {% if not read_only  %}
        {% if user.username == note.creator.username %}
            (<a href={{ 'editnote/'|concat:note.id}}>Edit</a>) (<a href={{ 'deletenote/'|concat:note.id}}>Delete</a>)
        {% endif %}
    {% endif %}
    </p> 
{% endfor %}
{% comment %} {% include "main/file_list.html" %} {% endcomment %}

{% endblock content %}