{% extends "main/layout_full.html" %}
{% block content %}
{% load concat %}
{% load crispy_forms_tags %}
{% load always_escape %}

{% include "main/page_title.html" with no_hr=True %}    
<br>
<form id="file_note_nested_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ children_formset.non_form_errors }}
    {% crispy children_formset helper %}
    {% if s_status == "new" or s_status == "rejected_editor" %}
        <input type="submit" name="back_save" value="Back">
        <input type="button" name="downloadall" value="Download submission" onClick="window.location.href = '../downloadall/';">
        {% if not read_only %}
        <input type="submit" name="submit" value="Submit" onClick="return confirm('This submission will be handed off to the editor, and then the curation team. Is that ok?');">
        {% endif %}
    {% else %}
        <input type=button value="Home" onclick="location.href='/manuscript/{{parent_id}}/'">
        <input type="button" name="downloadall" value="Download submission" onClick="window.location.href = '../downloadall/';">
        {% if not read_only %}
        <input type="submit" name="submit" value="Save">
        {% endif %}
    {% endif %}
    {% comment %} {% if not read_only %}
        <input type="button" name="upload" value="Upload/Delete Files" onClick="window.location.href = '../uploadfiles/';">
    {% endif %} {% endcomment %}
    
</form>

<script>
    tables = document.getElementsByClassName("notes-table")
    {% comment %} 
    Goes through each note and checks if the author is our user. If not, disables the delete checkbox
    We do this before the other script to remove the delete option from new notes.
    {% endcomment %}
    for (let table of tables) {
        for( let elem of table.firstElementChild.childNodes){
            if(elem.tagName == 'TR') {
                if(elem.firstElementChild.tagName == 'TD'){
                    creator_selectbox = elem.firstElementChild.firstElementChild.firstElementChild
                    if(creator_selectbox.options[creator_selectbox.selectedIndex].text != '{{ user.get_username }}') {
                        for(let celem of elem.childNodes) {
                            if(celem.tagName == 'TD') {
                                if(celem.id.endsWith('DELETE')) {
                                    celem.firstElementChild.firstElementChild.style.display = 'none'
                                }
                            }
                        }
                    }
                }
            }
        }
    }

</script>

{% endblock content %}

