{% load static %}
{% load bootstrap_msg_class_lvls %}
{% load notifications_tags %}


<div> {# div ends in footer.html #}

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand " href="/"><img src="{% static 'main/CORE2.png' %}" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div id="content">