{% load static %}
{% load bootstrap_msg_class_lvls %}
{% load notifications_tags %}
{% load auth_extras %}
{% load groups_contain_count %}

<div> {# div ends in footer.html #}

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/"><img src="{% static 'main/CORE2.png' %}" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <span class=" mr-auto"></span>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.get_username }} <span class="notification_count badge badge-danger align-middle">{% live_notify_badge %}</span>
        </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            {% register_notify_callbacks callbacks='fill_notification_badge' %} {% comment %} this is disabled during development to not fill up my logs {% endcomment %}
            <a class="dropdown-item" href="/notifications">Notifications <span class="notification_count badge badge-danger align-middle">{% live_notify_badge %}</span></a>
            <a class="dropdown-item" href="/account_user_details">Edit User Info</a>
            {% if request.user|has_group:"Role Curator" %} 
              <a class="dropdown-item" href="/site_actions">Site Actions</a>
            {% endif%}
            {% if request.user|groups_contain_count:"Role" > 1 or request.user.is_superuser %}
              <div class="dropdown-divider"></div>
              {% if request.user|has_group:"Role Author" %} 
                {% if request.session.active_role == "Author" %} 
                  <a class="dropdown-item disabled" >Switch to Author Role</a>
                {% else %}
                  <a class="dropdown-item" href="/switch_role?role=Author&next={{request.path_info}}">Switch to Author Role</a>
                {% endif %}
              {% endif%}
              {% if request.user|has_group:"Role Editor" %} 
                {% if request.session.active_role == "Editor" %} 
                  <a class="dropdown-item disabled" >Switch to Editor Role</a>
                {% else %}
                  <a class="dropdown-item" href="/switch_role?role=Editor&next={{request.path_info}}">Switch to Editor Role</a>
                {% endif %}
              {% endif%}
              {% if request.user|has_group:"Role Curator" %} 
                {% if request.session.active_role == "Curator" %} 
                  <a class="dropdown-item disabled" >Switch to Curator Role</a>
                {% else %}
                  <a class="dropdown-item" href="/switch_role?role=Curator&next={{request.path_info}}">Switch to Curator Role</a>
                {% endif %}
              {% endif%}
              {% if request.user|has_group:"Role Verifier" %} 
                {% if request.session.active_role == "Verifier" %} 
                  <a class="dropdown-item disabled" >Switch to Verifier Role</a>
                {% else %}
                  <a class="dropdown-item" href="/switch_role?role=Verifier&next={{request.path_info}}">Switch to Verifier Role</a>
                {% endif %}
              {% endif%}
              {% if request.user.is_superuser %} 
                {% if request.session.active_role == "Admin" %} 
                  <a class="dropdown-item disabled" >Switch to Admin Role</a>
                {% else %}
                  <a class="dropdown-item" href="/switch_role?role=Admin&next={{request.path_info}}">Switch to Admin Role</a>
                {% endif %}   
              {% endif%}
            {% endif%}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
          {% comment %} this code also exists in notify_custom.js to be run when the notification count is refreshed {% endcomment %}
          <script> 
              $( "span.notification_count").filter(function() {
                  return parseInt($(this).text()) > 0;
              }).show();
              $( "span.notification_count").filter(function() {
                  return parseInt($(this).text()) == 0;
              }).hide();
          </script>

      </li>
    </ul>
  </div>
</nav>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags|bootstrap_alert_lvl }} alert-dismissible fade show " role="alert">
            <button type="button" class="fas fa-fw mr-3 align-self-center close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div>{{ message }}</div>
        </div>
    {% endfor %}
{% endif %}

<div id="content">