{% extends "main/layout.html" %}
{% load i18n %}
{% block content %}

<script type="text/javascript">
    var TESTMODEL_LIST_JSON_URL = '{% url "manuscript_table" %}';
    // translations for datatables

    var dt_language = {
        "emptyTable":     "{% trans "No data available in table" %}",
        "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
        "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
        "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
        "loadingRecords": "{% trans "Loading..." %}",
        "processing":     "{% trans "Processing..." %}",
        "search":         "{% trans "Search:" %}",
        "zeroRecords":    "{% trans "No matching records found" %}",
        "paginate": {
            "first":      "{% trans "First" %}",
            "last":       "{% trans "Last" %}",
            "next":       "{% trans "Next" %}",
            "previous":   "{% trans "Previous" %}"
        },
        "aria": {
            "sortAscending":  "{% trans ": activate to sort column ascending" %}",
            "sortDescending": "{% trans ": activate to sort column descending" %}"
        }
    }

    $(document).ready(function() {
        var dt_table = $('.datatable').DataTable({
            language: dt_language,  // global variable defined in html
            //order: [[ 8, "desc" ]],
            lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
            {% comment %} columnDefs: [
                {
                    orderable: true,
                    searchable: true,
                    className: "center",
                    targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                },
                {
                    data: 'id',
                    targets: [0]
                },
                {
                    data: 'pub_id',
                    targets: [1]
                },
                {
                    data: 'title',
                    targets: [2]
                },
                {
                    data: 'doi',
                    targets: [3]
                },
                {
                    data: 'open_data',
                    targets: [4]
                },
                {
                    data: 'note_text',
                    targets: [5]
                },
                {
                    data: 'status',
                    targets: [6]
                },
                {
                    data: 'created_at',
                    targets: [7]
                },
                {
                    data: 'updated_at',
                    targets: [8]
                },
                {
                    data: 'editors',
                    targets: [9]
                },
                {
                    data: 'submissions',
                    targets: [10]
                },
                {
                    data: 'verifications',
                    targets: [11]
                },
                {
                    data: 'curations',
                    targets: [12]
                }
            ], {% endcomment %}
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            select: 'single',
            buttons: [
                {% if user.is_curator %}
                    {
                        text: '<i class="fas fa-plus"></i> &nbsp;Create Manuscript',
                        name: 'createManuscript',
                        action: function ( e, dt, node, config ) {
                            window.location.href = "manuscript/create";
                        },
                    },
                    {
                        text: 'Edit Manuscript',
                        name: 'editManuscript',
                        action: function ( e, dt, node, config ) {
                            // TODO: If column order ever changes this will blow up.
                            // Before we were using the name but now that we don't provide column def it doesn't work
                            // One option is to generate the columnDefs on the django side so that they can be picked up
                            // If we do that, keep in mind that it may cause problems with javascript caching
                            console.log(dt_table.rows( { selected: true } ).data()[0][0])
                            id = dt_table.rows( { selected: true } ).data()[0][0]
                            window.location.href = "manuscript/edit/"+id;
                        },
                        enabled: false
                    },
                {% endif %}
                
            ],
            dom: 'Bfrtip',
            ajax: TESTMODEL_LIST_JSON_URL
        })
        //Here we set some buttons to enable only when a row is selected
        .on( 'select', function ( e, dt, type, indexes ) {
            var count = dt_table.rows( { selected: true } ).count();
            dt_table.button('editManuscript:name').enable(true);

            console.log('Table row selected');
        } )
        .on( 'deselect', function ( e, dt, type, indexes ) {
            var count = dt_table.rows( { selected: true } ).count();
            if(count == 0) {
                dt_table.button('editManuscript:name').enable(false);
            }
            console.log('Table row deselected');
        } );

    });


</script>

<table id="settings" class="datatable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        {% for field in columns %}
            <th>{{ field }}</th>
        {% endfor %}
    </thead>
    <tbody>
    </tbody>
</table>

{% comment %} <a href="create_manuscript" class="btn btn-primary purple-gradient waves-effect waves-light"> 
    <i class="fas fa-plus"></i> &nbsp;Create Manuscript
</a> {% endcomment %}

{% endblock %}