{% extends "main/layout.html" %}

{% block content %}

<div class="jumbotron">
<p>Hello {{ user.username }}! We will delete this later</p>
    <h1 class="display-4">Welcome to Confirmable Reproducible Research!</h1>
    <p>
            The main goal of the project is to make these verification tools cost-effective and easily accessible, so journals may implement and enforce more rigorous data policies. This will oblige researchers to in turn adopt more transparent practices and promote reproducible research of the highest quality and integrity throughout the scientific community.
    </p>
    <h2>Login to continue</h2>
    <br/><br/>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/auth/login/google-oauth2" role="button"><i class="fab fa-google"></i> Login with Google</a>
    </p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" href="/auth/login/github-oauth2" role="button"><i class="fab fa-github"></i> Login with Github</a>
    </p>
</div>

{% endblock %}