{% extends "main/layout_registration.html" %}
{% load static compress %}
{% load bootstrap_msg_class_lvls %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags|bootstrap_alert_lvl }} alert-dismissible fade show " role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="jumbotron full">
    <h1 class="display-4">Welcome to Confirmable Reproducible Research!</h1>
    <p>
        The main goal of the project is to make these verification tools cost-effective and easily accessible, so journals may implement and enforce more rigorous data policies. This will oblige researchers to in turn adopt more transparent practices and promote reproducible research of the highest quality and integrity throughout the scientific community.
    </p>
    <h2>Login to continue</h2>
    <br/><br/>
    {% comment %} icons in span from https://fontawesome.com/ {% endcomment %}
    {% comment %} Should use the correct icon for globus {% endcomment %}
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/auth/login/globus" role="button"><img width="41px" height="30px" style="margin-right:6px" src="{% static 'main/globus_logo_white.png' %}" /> Login with Globus</a>
    </p>
</div>

{% endblock %}