{% extends "main/layout_full.html" %}
{% load i18n %}
{% load auth_extras %}
{% block content %}

<script type="text/javascript">
    var manuscript_id = {{manuscript_id}};
    var table_show_timestamps = true;
    var createSubButton = {{create_sub_allowed}};

    function sub_table_callback(table) {
        dt_submission = table;
    }

    function constructTable(columns) {
        var columns_config = [];
        var button_index;
        for (var c in columns) {
            var column_settings = {name: columns[c][0], title: columns[c][1]}
            if(columns[c][0] === 'buttons') {
                column_settings.visible = false;
                button_index = c;
            } else if(columns[c][0] === 'id' || columns[c][0] === 'created_at' || columns[c][0] === 'authors' || columns[c][0] === 'editors' || columns[c][0] === 'curators' || columns[c][0] === 'verifiers') { //Sometimes this doesn't work right, see issue #26 "Fix Datatable Visibility Bug"
                column_settings.visible = false;
            // } else if(columns[c][0] === 'submission_timestamp' || columns[c][0] === 'edition_timestamp' || columns[c][0] === 'curation_timestamp' || columns[c][0] === 'verification_timestamp') {
            //     column_settings.visible = false;
            } else if(columns[c][0] === 'selected') {
                column_settings.orderable = false;
                column_settings.className = 'select-checkbox';
            }
            columns_config[c] = column_settings
        }
        return [columns_config, button_index];
    } 
    
    function fixButtonGroupCurve() {
        //{% comment %} needs as we make buttons invisible, otherwise groups end up with non-rounded edges {% endcomment %}
        $('.my-1.btn-group').has('.btn:hidden').find('.btn').css('border-radius', 0);
        $('.my-1.btn-group').has('.btn:hidden').find('.btn:visible:first').css({
            'border-top-left-radius': '3px',
            'border-bottom-left-radius': '3px',
        });
        $('.my-1.btn-group').has('.btn:hidden').find('.btn:visible:last').css({
            'border-top-right-radius': '3px',
            'border-bottom-right-radius': '3px',
        });
    }

    function postToSubUrl(endpoint) {
        console.log('/submission/{{latest_submission_id}}/'+endpoint+'/')
        var headers = new Headers();
        headers.append('X-CSRFToken', '{{ csrf_token }}');
        fetch('/submission/{{latest_submission_id}}/'+endpoint+'/', {
            method: 'POST',
            headers: headers, 
            credentials: 'include'
        }).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        })
    }

    $(document).ready(function() {
        console.log("Create sub outside")
        $.ajax({
            url: "/manuscript/"+ manuscript_id +"/submission_table/",
            cache: false,
            success: function (response) {
                console.log("Create sub inside")
                var [columns_config, button_index] = constructTable(response.data[0]);
                var table = $('#submission_table').DataTable({
                    lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
                    searching: false,
                    processing: true,
                    stateSave: true,
                    select: 'single',
                    columns: columns_config,
                    dom: 'Bfrt',
                    data: response.data.slice(1),
                    buttons: [
                        {% if request.user|has_group:GROUP_ROLE_AUTHOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Submission',
                                name: 'createSubmission',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/manuscript/"+ manuscript_id +"/update/";
                                },
                                enabled: createSubButton
                            },
                        {% endif %}
                        {
                            text: 'Edit/Progress',
                            name: 'editSubmission',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/info/";
                                
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'Edit Files',
                            name: 'editSubmissionFiles',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/editfiles/";
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'View',
                            name: 'viewSubmission',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/view/";
                            },
                            init: function ( dt, node, config ) {
                                    node.css("display", "none");
                                },
                            enabled: false
                        },
                        {
                            text: 'View Files',
                            name: 'viewSubmissionFiles',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/viewfiles/";
                            },
                            init: function ( dt, node, config ) {
                                    node.css("display", "none");
                                },
                            enabled: false
                        },
                        {
                            text: 'Launch Container',
                            name: 'launchSubmissionContainer',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/notebook/";
                            },
                            init: function ( dt, node, config ) {
                                    node.css("display", "none");
                                },
                            enabled: false
                        },
                        {
                            text: 'Download Container Files',
                            name: 'downloadContainerFiles',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/wtdownloadall/";
                            },
                            init: function ( dt, node, config ) {
                                    node.css("display", "none");
                                },
                            enabled: false
                        },
                        {
                            text: 'Hand-off to Editors',
                            name: 'progressSubmission',
                            action: function ( e, dt, node, config ) {
                                var headers = new Headers();
                                headers.append('X-CSRFToken', '{{ csrf_token }}');
                                fetch('/submission/'+submission_id+'/progress/', {
                                    method: 'POST',
                                    headers: headers, 
                                    credentials: 'include'
                                }).then(response => {
                                    if (response.redirected) {
                                        window.location.href = response.url;
                                    }
                                })
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'Send Report',
                            name: 'sendReportForSubmission',
                            action: function ( e, dt, node, config ) {
                                var headers = new Headers();
                                headers.append('X-CSRFToken', '{{ csrf_token }}');
                                fetch('/submission/'+submission_id+'/sendreport/', {
                                    method: 'POST',
                                    headers: headers, 
                                    credentials: 'include'
                                }).then(response => {
                                    if (response.redirected) {
                                        window.location.href = response.url;
                                    }
                                })
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'Return Submission to Authors',
                            name: 'returnSubmission',
                            action: function ( e, dt, node, config ) {
                                var headers = new Headers();
                                headers.append('X-CSRFToken', '{{ csrf_token }}');
                                fetch('/submission/'+submission_id+'/finish/', {
                                    method: 'POST',
                                    headers: headers, 
                                    credentials: 'include'
                                }).then(response => {
                                    if (response.redirected) {
                                        window.location.href = response.url;
                                    }
                                })
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {% if request.user|has_group:GROUP_ROLE_EDITOR or request.user|has_group:GROUP_ROLE_CURATOR or request.user|has_group:GROUP_ROLE_VERIFIER  %} 
                        {
                            text: '<i class="far fa-eye"></i> Timestamps Shown',
                            name: 'viewnotuserassigned',
                            className: 'visibilityButton',
                            action: function ( e, dt, node, config ) {
                                //Implicit globals are not best practice
                                var column = table.column(4);
                                column.visible( ! column.visible() );
                                var column = table.column(7);
                                column.visible( ! column.visible() );
                                var column = table.column(9);
                                column.visible( ! column.visible() );
                                var column = table.column(11);
                                column.visible( ! column.visible() );

                                if(table_show_timestamps == false) {
                                    table_show_timestamps = true;
                                    this.text( '<i class="far fa-eye"></i> Timestamps Shown' );                                    
                                } else {
                                    table_show_timestamps  = false;
                                    this.text( '<i class="far fa-eye-slash"></i> Timestamps Hidden' );
                                }
                            },
                        },
                        {% endif %}

                    ]
                })
                .on( 'select', function ( e, dt, type, indexes ) {
                    //MAD: these should be rewritten to get values from the construct columns, probably means we'll need a separate function for each table
                    submission_id = dt.rows( { selected: true } ).data()[0][1] //Implicit globals are not best practice
                    console.log(submission_id)
                    submission_status = dt.rows( { selected: true } ).data()[0][3] //Implicit globals are not best practice
                    console.log(submission_status)
                    //edition_id = dt.rows( { selected: true } ).data()[0][2] //Implicit globals are not best practice
                    //curation_id = dt.rows( { selected: true } ).data()[0][4] //Implicit globals are not best practice
                    //verification_id = dt.rows( { selected: true } ).data()[0][6] //Implicit globals are not best practice
                    avail_buttons = dt.rows( { selected: true } ).data()[0][button_index];
                    for(var i in avail_buttons) {
                        dt.button(avail_buttons[i]+':name').enable(true);
                        dt.button(avail_buttons[i]+':name').nodes().css("display", "block");
                    }
                    if(submission_status == "New") {
                        dt.button('viewSubmissionFiles:name').enable(false);
                        dt.button('viewSubmissionFiles:name').nodes().css("display", "none");
                    }
                    fixButtonGroupCurve();

                    console.log('Table row selected');
                } )
                .on( 'deselect', function ( e, dt, type, indexes ) {
                    var count = dt.rows( { selected: true } ).count();
                    if(count == 0) { //This is not dynamic because we can't ensure we know all the possible buttons by looking at a certain row
                        dt.button('editSubmission:name').enable(false);
                        dt.button('editSubmission:name').nodes().css("display", "none");
                        dt.button('editSubmissionFiles:name').enable(false);
                        dt.button('editSubmissionFiles:name').nodes().css("display", "none");
                        dt.button('viewSubmission:name').enable(false);
                        dt.button('viewSubmission:name').nodes().css("display", "none");
                        dt.button('viewSubmissionFiles:name').enable(false);
                        dt.button('viewSubmissionFiles:name').nodes().css("display", "none");
                        dt.button('progressSubmission:name').enable(false);
                                
                    }
                    fixButtonGroupCurve();

                    console.log('Table row deselected');
                } ) 
                .order.neutral().draw()
                .row(':eq(0)', { page: 'current' }).select();
                
                sub_table_callback(table)

                // manuscript_avail_buttons = JSON.parse('{{manuscript_avail_buttons|safe}}');
                // for(var i in manuscript_avail_buttons) {
                //     table.button(manuscript_avail_buttons[i]+':name').enable(true);
                //     table.button(manuscript_avail_buttons[i]+':name').nodes().css("display", "block");
                // }

                fixButtonGroupCurve();
            }
            })
            
    });
    
</script>

{% include "main/page_title.html" with no_hr=True %}
<br>

<p id="manuscript_overview"> 
    <b>Status: {{manuscript_status}} (Updated {{manuscript_updated}})</b><br>
    Title: {{manuscript_pub_name}}<br>
    {% if request.user|has_group:GROUP_ROLE_CURATOR or request.user|has_group:GROUP_ROLE_VERIFIER %} 
    {% if manuscript_dataset_doi %}Dataset: <a href="{{manuscript_dataverse_installation_url}}/dataset.xhtml?persistentId={{manuscript_dataset_doi}}">{{manuscript_dataset_doi}}</a><br>{% endif %}
    {% endif %}
    {% if manuscript_compute_env %}Compute Environment: {{manuscript_compute_env}}<br>{% endif %}
    QDR Review: {{manuscript_qdr_review}}<br>
    Corresponding Author: {{manuscript_corresponding_author}}<br>
    Author{% if manuscript_authors|length > 1 %}s{% endif %}: {{manuscript_authors|join:', '}} {% if manuscript_author_account_completed %} <span class="fas fa-check" title="Registered" aria-label="Registered" style="color:green;"></span>{% endif %}<br>
    Editor{% if manuscript_editors|length > 1 %}s{% endif %}: {{manuscript_editors|join:', '}}
    {% if request.user|has_group:GROUP_ROLE_CURATOR or request.user|has_group:GROUP_ROLE_VERIFIER %} 
        <br> 
        Curator{% if manuscript_curators|length > 1 %}s{% endif %}: {{manuscript_curators|join:', '}} <br>
        Verifier{% if manuscript_verifiers|length > 1 %}s{% endif %}: {{manuscript_verifiers|join:', '}}
    {% endif %}
</p>

<div class="my-1 dt-buttons btn-group flex-wrap">    
    {% comment %} we precall these and store them as template variables. slightly inefficient {% endcomment %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'edit_noop' as m_edit_flag %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'edit_files_noop' as m_edit_files_flag %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'view_noop' as m_view_flag %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'begin' as m_begin_flag %}

    {% if createSubmissionButton %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/update/'"><i class="fas fa-plus"></i> &nbsp;Create Submission</button>
    {% endif %}

    {% if editSubmissionButton %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/update/'">Update Submission</button>    
    {% endif %}

    {% if reviewSubmissionButton %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/submission/{{latest_submission_id}}/info/'">Review Submission</button>    
    {% endif %}
    {% if sendReportButton %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="postToSubUrl('sendreport')">Send Report</button>    
    {% endif %}
    {% if returnSubmissionButton %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="postToSubUrl('finish')">Return Submission to Authors</button>    
    {% endif %}

    {% if dataverseUploadManuscriptButtonMain %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/confirm/'">Upload To Dataverse</button>    
    {% endif %}
    {% if dataversePullCitationButtonMain %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/pullcitation/'">Fetch Dataset Info</button>    
    {% endif %}

    {% if m_edit_flag and not editSubmissionButton %} 
        <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/edit/'">Edit Manuscript</button>
    {% endif %}
    {% if m_edit_files_flag %}
       <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/uploadfiles/'">Edit Manuscript Files</button>
    {% endif %}

    <button class="btn btn-secondary buttons-collection dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        More Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% comment %} Maybe make view not show up when you can edit? {% endcomment %}
        <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/view/">Additional Info</a></li> 
        <!-- <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/viewfiles/">Files</a></li> -->
        <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/reportdownload/">Download Report</a></li>
        {% if launchContainerCurrentSubButton %}
            {% if wholetale %}
            <li><a class="dropdown-item" onclick="window.open('/submission/{{latest_submission_id}}/notebook/')">Launch Container</a></li>
            <li><a class="dropdown-item" onclick="window.open('/submission/{{latest_submission_id}}/wtdownloadall/')">Download Container Files</a></li>
            {% else %}
            <li><a class="dropdown-item" onclick="window.open('/manuscript/{{manuscript_id}}/notebook/')">Launch Container</a></li>
            {% endif %}
        {% endif %}
        {% if dataverseUploadManuscriptButtonMore %}
            <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/confirm/">Reupload To Dataverse</a></li>
        {% endif %}
        {% if dataversePullCitationButtonMore %}
            <li><a class="dropdown-item" href='/manuscript/{{manuscript_id}}/pullcitation/'>Fetch Dataset Info</a></li>
        {% endif %}
    
    </ul>

    {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
        <button class="btn btn-secondary buttons-collection dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Access
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/inviteassignauthor/">Invite/Add Author</a></li> 
            <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assigneditor/">Add Editor</a></li>
            <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assigncurator/">Add Curator</a></li>
            <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assignverifier/">Add Verifier</a></li>
        </ul>
    {% endif %}
    </div>    
    <br>
    <div class="accordion" style="margin:10px -21px" id="manuscriptAccordionPanels">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Manuscript Files
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#manuscriptAccordionPanels" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">                
              <div id="files_list_holder">
                {% include "main/file_list.html" with landing_page=True read_only=True file_download_url='downloadfile/?file_path=' %}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Submissions
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" data-bs-parent="#manuscriptAccordionPanels" aria-labelledby="panelsStayOpen-headingThree">
            <div id="submission_table_holder">
                <table id="submission_table" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
                    <thead>
                        {% for field in submission_columns %}
                            <th>{{ field }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div >
          </div>
        </div>
    </div>

</div>
{% endblock %}
