{% extends "main/layout.html" %}
{% load i18n %}
{% load auth_extras %}
{% block content %}






<script type="text/javascript">
    var manuscript_id = {{manuscript_id}};
    var createSubButton = true; //TODO: This needs to be fixed
    //TODO: what this do?
    var dt_language = {
        "emptyTable":     "{% trans "No data available in table" %}",
        "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
        "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
        "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
        "loadingRecords": "{% trans "Loading..." %}",
        "processing":     "{% trans "Processing..." %}",
        "search":         "{% trans "Search:" %}",
        "zeroRecords":    "{% trans "No matching records found" %}",
        "paginate": {
            "first":      "{% trans "First" %}",
            "last":       "{% trans "Last" %}",
            "next":       "{% trans "Next" %}",
            "previous":   "{% trans "Previous" %}"
        },
        "aria": {
            "sortAscending":  "{% trans ": activate to sort column ascending" %}",
            "sortDescending": "{% trans ": activate to sort column descending" %}"
        }
    }

    //dt_submission;
    function sub_table_callback(table) {
        dt_submission = table;
        //use return_first variable here
    }

   //What is the goal here?
    // - Define array rendering
    // - make table more dynamic
    // - NAMES
    function constructTable(columns) {
        var columns_config = [];
        var button_index;
        //console.log("CONSTRUCT TABLE")
        for (var c in columns) {
            var column_settings = {name: columns[c]}
            if(columns[c] === 'buttons') {
                column_settings.visible = false;
                button_index = c;
            } else if(columns[c] === 'edition_id' || columns[c] === 'curation_id' || columns[c] === 'verification_id' 
                || columns[c] === 'created_at' || columns[c] === 'updated_at' || columns[c] === 'authors' || columns[c] === 'editors' || columns[c] === 'curators' || columns[c] === 'verifiers') { //MAD: why isn't this working? it is being called....
                column_settings.visible = false;
            }
            columns_config[c] = column_settings
            //console.log(column_settings);
        }
        //console.log(columns_config);
        return [columns_config, button_index];
    } 


    $(document).ready(function() {
        console.log("Create sub outside")
        $.ajax({
            url: "/manuscript/"+ manuscript_id +"/submission_table",
            cache: false,
            success: function (response) {
                console.log("Create sub inside")
                var [columns_config, button_index] = constructTable(response.data[0]);
                //console.log(response.data)
                var table = $('#submission_table').DataTable({
                    language: dt_language,  // global variable defined in html
                    lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
                    searching: true,
                    processing: true,
                    //serverSide: true, //currently broken, not sure if needed
                    stateSave: true,
                    select: 'single',
                    columns: columns_config,
                    dom: 'Bfrt',
                    //dom: 'Bfrtip', //old setting which is broken, should understand better
                    data: response.data.slice(1),
                    buttons: [
                        {% if request.user|has_group:GROUP_ROLE_AUTHOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Submission',
                                name: 'createSubmission',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/manuscript/"+ manuscript_id +"/createsubmission";
                                },
                                enabled: createSubButton //this is actually stored in the manuscript button column and passed in
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Submission Actions',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_AUTHOR %} 
                                    {
                                        text: 'Edit',
                                        name: 'editSubmission',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/submission/"+submission_id+"/edit";
                                        },
                                        init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                        enabled: false
                                    },
                                    {
                                        text: 'Edit Files',
                                        name: 'editSubmissionFiles',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/submission/"+submission_id+"/editfiles";
                                        },
                                        init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {
                                    text: 'View',
                                    name: 'viewSubmission',
                                    action: function ( e, dt, node, config ) {
                                        //console.log(dt.rows( { selected: true } ).data()[0][0])
                                        window.location.href = "/submission/"+submission_id+"/view";
                                    },
                                    init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                    enabled: false
                                },
                                {
                                    text: 'View Files',
                                    name: 'viewSubmissionFiles',
                                    action: function ( e, dt, node, config ) {
                                        //console.log(dt.rows( { selected: true } ).data()[0][0])
                                        window.location.href = "/submission/"+submission_id+"/viewfiles";
                                    },
                                    init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                    enabled: false
                                },
                                {% if request.user|has_group:GROUP_ROLE_AUTHOR %} 
                                    {
                                        text: 'Hand-off to Editors',
                                        name: 'progressSubmission',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/submission/'+submission_id+'/progress', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                                    {
                                        text: 'Generate Report',
                                        name: 'generateReportForSubmission',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/submission/'+submission_id+'/generatereport', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Return Submission to Authors',
                                        name: 'returnSubmission',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/submission/'+submission_id+'/return', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },


                        {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Edition',
                                name: 'createEdition',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/submission/"+submission_id+"/createedition";
                                },
                                enabled: false
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Edition Actions',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Edit',
                                        name: 'editEdition',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/edition/"+edition_id+"/edit";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {
                                    text: 'View',
                                    name: 'viewEdition',
                                    action: function ( e, dt, node, config ) {
                                        //console.log(dt.rows( { selected: true } ).data()[0][0])
                                        window.location.href = "/edition/"+edition_id+"/view";
                                    },
                                    enabled: false
                                },
                                {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Submit Review',
                                        name: 'progressEdition',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/edition/'+edition_id+'/progress', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },


                        {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Curation',
                                name: 'createCuration',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/submission/"+submission_id+"/createcuration";
                                },
                                enabled: false
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Curation Actions',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                                    {
                                        text: 'Edit',
                                        name: 'editCuration',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/curation/"+curation_id+"/edit";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {
                                    text: 'View',
                                    name: 'viewCuration',
                                    action: function ( e, dt, node, config ) {
                                        //console.log(dt.rows( { selected: true } ).data()[0][0])
                                        window.location.href = "/curation/"+curation_id+"/view";
                                    },
                                    enabled: false
                                },
                                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                                    {
                                        text: 'Submit Review',
                                        name: 'progressCuration',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/curation/'+curation_id+'/progress', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },

                        {% if request.user|has_group:GROUP_ROLE_VERIFIER %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Verification',
                                name: 'createVerification',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/submission/"+submission_id+"/createverification";
                                },
                                enabled: false
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Verification Actions',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_VERIFIER %} 
                                    {
                                        text: 'Edit',
                                        name: 'editVerification',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/verification/"+verification_id+"/edit";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                    {
                                        text: 'View',
                                        name: 'viewVerification',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/verification/"+verification_id+"/view";
                                        },
                                        enabled: false
                                    },
                                {% if request.user|has_group:GROUP_ROLE_VERIFIER %} 
                                    {
                                        text: 'Submit Review',
                                        name: 'progressVerification',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/verification/'+verification_id+'/progress', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },
                        //MANUSCRIPT BUTTONS
                        {
                            extend: 'collection',
                            text: 'Manuscript Actions',
                            fade: 0,
                            buttons: [
                                //TODO: This perm is different than the one for progress. 
                                // I think its because we want non-editors to create as well, but should doublecheck.
                                {% if request.user|has_global_perm:ADD_MANUSCRIPT_PERM_STRING %} 
                                    {
                                        text: 'Edit',
                                        name: 'editManuscript',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/manuscript/"+manuscript_id+"/edit";
                                        },
                                        init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                        enabled: false
                                    },
                                    {
                                        text: 'Edit Files',
                                        name: 'editManuscriptFiles',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/manuscript/"+manuscript_id+"/uploadfiles";
                                        },
                                        init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {
                                    text: 'View',
                                    name: 'viewManuscript',
                                    action: function ( e, dt, node, config ) {
                                        //console.log(dt.rows( { selected: true } ).data()[0][0])
                                        window.location.href = "/manuscript/"+manuscript_id+"/view";
                                    },
                                    init: function ( dt, node, config ) {
                                        node.css("display", "none");
                                    },
                                    enabled: false
                                },
                                {
                                    text: 'View Files',
                                    name: 'viewManuscriptFiles',
                                    action: function ( e, dt, node, config ) {
                                        //console.log(dt.rows( { selected: true } ).data()[0][0])
                                        window.location.href = "/manuscript/"+manuscript_id+"/viewfiles";
                                    },
                                    init: function ( dt, node, config ) {
                                        node.css("display", "none");
                                    },
                                    enabled: false
                                },
                                {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Hand-off to Authors',
                                        name: 'progressManuscript',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/manuscript/'+manuscript_id+'/progress', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {
                                    text: 'Launch Notebook',
                                    name: 'launchNotebook',
                                    action: function ( e, dt, node, config ) {
                                        //console.log(dt.rows( { selected: true } ).data()[0][0])
                                        window.location.href = "/manuscript/"+manuscript_id+"/binder";
                                    },
                                    enabled: true
                                },
                            ]
                        },
                        {% if request.user|has_group:GROUP_ROLE_AUTHOR or request.user|has_group:GROUP_ROLE_EDITOR or request.user|has_group:GROUP_ROLE_CURATOR %} 
                        {
                            extend: 'collection',
                            text: 'Manuscript Members',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_AUTHOR or request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Invite/Add Author',
                                        name: 'inviteassignauthor',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/manuscript/"+manuscript_id+"/inviteassignauthor";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                                    {
                                        text: 'Add Editor',
                                        name: 'assigneditor',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/manuscript/"+manuscript_id+"/assigneditor";
                                        },
                                        enabled: false
                                    },
                                    {
                                        text: 'Add Curator',
                                        name: 'assigncurator',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])
                                            window.location.href = "/manuscript/"+manuscript_id+"/assigncurator";
                                        },
                                        enabled: false
                                    },
                                    {
                                        text: 'Add Verifier',
                                        name: 'assignverifier',
                                        action: function ( e, dt, node, config ) {
                                            //console.log(dt.rows( { selected: true } ).data()[0][0])   
                                            window.location.href = "/manuscript/"+manuscript_id+"/assignverifier";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },
                        {% endif %}
                    ]
                })
                .on( 'select', function ( e, dt, type, indexes ) {
                    //MAD: these should be rewritten to get values from the construct columns, probably means we'll need a separate function for each table
                    submission_id = dt.rows( { selected: true } ).data()[0][0] //Implicit globals are not best practice
                    edition_id = dt.rows( { selected: true } ).data()[0][2] //Implicit globals are not best practice
                    curation_id = dt.rows( { selected: true } ).data()[0][4] //Implicit globals are not best practice
                    verification_id = dt.rows( { selected: true } ).data()[0][6] //Implicit globals are not best practice
                    avail_buttons = dt.rows( { selected: true } ).data()[0][button_index];
                    for(var i in avail_buttons) {
                        dt.button(avail_buttons[i]+':name').enable(true);
                        dt.button(avail_buttons[i]+':name').nodes().css("display", "block");
                    }

                    console.log('Table row selected');
                } )
                .on( 'deselect', function ( e, dt, type, indexes ) {
                    var count = dt.rows( { selected: true } ).count();
                    if(count == 0) { //This is not dynamic because we can't ensure we know all the possible buttons by looking at a certain row
                        dt.button('editSubmission:name').enable(false);
                        dt.button('editSubmission:name').nodes().css("display", "none");
                        dt.button('editSubmissionFiles:name').enable(false);
                        dt.button('editSubmissionFiles:name').nodes().css("display", "none");
                        dt.button('viewSubmission:name').enable(false);
                        dt.button('viewSubmission:name').nodes().css("display", "none");
                        dt.button('progressSubmission:name').enable(false);

                        dt.button('createEdition:name').enable(false);
                        dt.button('editEdition:name').enable(false);
                        dt.button('editEdition:name').nodes().css("display", "none");
                        dt.button('viewEdition:name').enable(false);
                        dt.button('viewEdition:name').nodes().css("display", "none");
                        dt.button('progressEdition:name').enable(false);

                        dt.button('createCuration:name').enable(false);
                        dt.button('editCuration:name').enable(false);
                        dt.button('editCuration:name').nodes().css("display", "none");
                        dt.button('viewCuration:name').enable(false);
                        dt.button('viewCuration:name').nodes().css("display", "none");
                        dt.button('progressCuration:name').enable(false);

                        dt.button('createVerification:name').enable(false);
                        dt.button('editVerification:name').enable(false);            
                        dt.button('editVerification:name').nodes().css("display", "none");                               
                        dt.button('viewVerification:name').enable(false);
                        dt.button('viewVerification:name').nodes().css("display", "none");
                        dt.button('progressVerification:name').enable(false);
                                                              
                    }
                    console.log('Table row deselected');
                } ).row(':last').select();
                sub_table_callback(table)
                //table.buttons().container().prependTo("#submission_buttons");

                manuscript_avail_buttons = JSON.parse('{{manuscript_avail_buttons|safe}}');
                for(var i in manuscript_avail_buttons) {
                    console.log("var: " + i)
                    console.log(table.button(manuscript_avail_buttons[i]+':name'))
                    table.button(manuscript_avail_buttons[i]+':name').enable(true);
                    table.button(manuscript_avail_buttons[i]+':name').nodes().css("display", "block");
                }
            }
            })
    });
</script>

<div class="table_holder" id="submission_table_holder">
        <table id="submission_table" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
            <hr>
            <h5 class="my-3"> Submissions </h5> {% comment %} here to be placed below the hr we need to show hide {% endcomment %}
            {% comment %} <div id="submission_buttons" class="d-flex justify-content-left mb-1"></div> {% endcomment %}
            <thead>
                {% for field in submission_columns %}
                    <th>{{ field }}</th>
                {% endfor %}
            </thead>
            <tbody>
            </tbody>
        </table>
    </div >

{% endblock %}