{% extends "main/layout_full.html" %}
{% load i18n static auth_extras %}
{% block content %}

<script type="text/javascript">
    var Sub_Table_Params = {};

    Sub_Table_Params.manuscript_id = {{manuscript_id}};
    Sub_Table_Params.createSubButton = {{create_sub_allowed}};

    Sub_Table_Params.has_group_author = {{request.user|has_group:GROUP_ROLE_AUTHOR|yesno:"true,false"}};
    Sub_Table_Params.has_group_edtior = {{request.user|has_group:GROUP_ROLE_EDITOR|yesno:"true,false"}};
    Sub_Table_Params.has_group_curator = {{request.user|has_group:GROUP_ROLE_CURATOR|yesno:"true,false"}};
    Sub_Table_Params.has_group_verifier = {{request.user|has_group:GROUP_ROLE_VERIFIER|yesno:"true,false"}};
    Sub_Table_Params.landingView = true;
</script>

<script src="{% static 'main/submission_datatable.js' %}" type="text/javascript"></script>


{% include "main/page_header.html" with no_hr=True %}
<br>

<p id="manuscript_overview"> 
    <b>Status: {{manuscript_status}} {% if request.user|has_group:GROUP_ROLE_CURATOR or request.user|has_group:GROUP_ROLE_VERIFIER %} {% if latest_submission_status %} - {{latest_submission_status}} {% endif %} {% endif %} (Updated {{manuscript_updated}})</b><br>
    Title: {{manuscript_pub_name}}<br>
    {% if request.user|has_group:GROUP_ROLE_CURATOR or request.user|has_group:GROUP_ROLE_VERIFIER %} 
    {% if manuscript_dataset_doi %}Dataset: <a href="{{manuscript_dataverse_installation_url}}/dataset.xhtml?persistentId={{manuscript_dataset_doi}}">{{manuscript_dataset_doi}}</a><br>{% endif %}
    {% endif %}
    {% if manuscript_compute_env %}Compute Environment: {{manuscript_compute_env}}<br>{% endif %}
    QDR Review: {{manuscript_qdr_review}}<br>
    Corresponding Author: {{manuscript_corresponding_author}}<br>
    Author{% if manuscript_authors|length > 1 %}s{% endif %}: {{manuscript_authors|join:', '}} {% if manuscript_author_account_completed %} <span class="fas fa-check" title="Registered" aria-label="Registered" style="color:green;"></span>{% endif %}<br>
    Editor{% if manuscript_editors|length > 1 %}s{% endif %}: {{manuscript_editors|join:', '}}
    {% if request.user|has_group:GROUP_ROLE_CURATOR or request.user|has_group:GROUP_ROLE_VERIFIER %} 
        <br> 
        <span>
            Curator{% if manuscript_curators|length > 1 %}s{% endif %}: {{manuscript_curators|join:', '}}
            {% if request.user|has_group:GROUP_ROLE_CURATOR and manuscript_curators|length == 0 %}
            <i class="fas fa-exclamation" style="color:#DC3545;"></i>&nbsp;<a href="/manuscript/{{manuscript_id}}/assigncurator/" title="Add curator to this manuscript" aria-label="Add curator to this manuscript">Add Curator</a>
            {% comment %} <button type="button" class="btn btn-secondary btn-sm" id="addCuratorInlineButton" onclick="location.href='/manuscript/{{manuscript_id}}/assigncurator/'"><i class="fas fa-exclamation" style="color:darkred;"></i> Add Curator</button> {% endcomment %}
            {% endif %}
        </span>
        <br>  
        <span>
            Verifier{% if manuscript_verifiers|length > 1 %}s{% endif %}: {{manuscript_verifiers|join:', '}}
            {% if request.user|has_group:GROUP_ROLE_CURATOR and manuscript_verifiers|length == 0 %}
            <span style="margin-left:3px;" ><i class="fas fa-exclamation" style="color:#DC3545;"></i>&nbsp;<a href="/manuscript/{{manuscript_id}}/assignverifier/" title="Add verifier to this manuscript" aria-label="Add verifier to this manuscript">Add Verifier</a></span>
            {% comment %} <button type="button" class="btn btn-secondary btn-sm" style="margin-left:3px;" id="addVerifierInlineButton" onclick="location.href='/manuscript/{{manuscript_id}}/assigncurator/'"><i class="fas fa-exclamation" style="color:darkred;"></i> Add Verifier</button> {% endcomment %}
            {% endif %}
        </span>
    {% endif %}
</p>
<div class="my-1 dt-buttons btn-group flex-wrap" role="group">    
    {% comment %} we precall these and store them as template variables. slightly inefficient {% endcomment %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'edit_noop' as m_edit_flag %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'edit_files_noop' as m_edit_files_flag %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'view_noop' as m_view_flag %}
    {% user_has_transition_perm request.user 'manuscript' manuscript_id 'begin' as m_begin_flag %}

    {% if createSubmissionButton %}
    <button type="button" class="btn btn-secondary buttons-collection" id="createSubmissionButton" onclick="location.href='/manuscript/{{manuscript_id}}/update/'" title="Create a new submission of data/code for this manuscript" aria-label="Create a new submission of data/code for this manuscript"><i class="fas fa-plus"></i> &nbsp;Create Submission</button>
    {% endif %}
    {% if createSubmissionButtonRejected %}
    <button type="button" class="btn btn-secondary buttons-collection" id="createSubmissionButton" onclick="location.href='/submission/{{latest_submission_id}}/info/'" title="Create a new submission of data/code for this manuscript" aria-label="Create a new submission of data/code for this manuscript"><i class="fas fa-plus"></i> &nbsp;Create Submission</button>
    {% endif %}

    {% if editSubmissionButton %}
    <button type="button" class="btn btn-secondary buttons-collection" id="editSubmissionButton" onclick="location.href='/manuscript/{{manuscript_id}}/update/'" title="Complete the current submission for this manuscript" aria-label="Complete the current submission for this manuscript">Complete Submission</button>    
    {% endif %}
    {% if editSubmissionButtonRejected %}
    <button type="button" class="btn btn-secondary buttons-collection" id="editSubmissionButton" onclick="location.href='/submission/{{latest_submission_id}}/info/'" title="Complete the current submission for this manuscript" aria-label="Complete the current submission for this manuscript">Complete Submission</button>    
    {% endif %}


    {% if reviewSubmissionButtonMain %}
    <button type="button" class="btn btn-secondary buttons-collection" id="reviewSubmissionButtonMain" onclick="location.href='/submission/{{latest_submission_id}}/review/'" title="Provide your review of the latest submission" aria-label="Provide your review of the latest submission">Review Submission</button>    
    {% endif %}
    {% if updateReviewSubmissionButtonMain %}
    <button type="button" class="btn btn-secondary buttons-collection" id="updateReviewSubmissionButtonMain" onclick="location.href='/submission/{{latest_submission_id}}/update/'" title="Update your review of the latest submission" aria-label="Update your review of the latest submission">Update Review</button>    
    {% endif %}
    {% if sendReportButton %}
    <form action="/submission/{{latest_submission_id}}/sendreport/" method="post" id="sendReportForm">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary buttons-collection" id="sendReportButton" title="Send current verification report for the manuscript to the editors" aria-label="Send current verification report for the manuscript to the editors">Send Report</button>    
    </form>
    {% comment %} <button type="button" class="btn btn-secondary buttons-collection" id="sendReportButton" onclick="postToSubUrl('sendreport')" title="Send current verification report for the manuscript to the editors" aria-label="Send current verification report for the manuscript to the editors">Send Report</button>     {% endcomment %}
    <button type="button" class="btn btn-secondary buttons-collection" id="downloadReportButton" onclick="location.href='/manuscript/{{manuscript_id}}/reportdownload/'" title="" aria-label="">Download Report</button>    
    {% endif %}
    {% if returnSubmissionButton %}
    <form action="/submission/{{latest_submission_id}}/finish/" method="post" id="returnForm">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary buttons-collection" id="returnSubmissionButton" title="Return this manuscript record to the authors to resubmit their data/code" aria-label="Return this manuscript record to the authors to resubmit their data/code">Return Submission to Authors</button> 
    </form>
    {% comment %} <button type="button" class="btn btn-secondary buttons-collection" id="returnSubmissionButtonz" onclick="postToSubUrl('finish')" title="Return this manuscript record to the authors to resubmit their data/code" aria-label="Return this manuscript record to the authors to resubmit their data/code">Return Submission to Authors</button>     {% endcomment %}
    {% endif %}

    {% if dataverseUploadManuscriptButtonMain %}
    <button type="button" class="btn btn-secondary buttons-collection" id="dataverseUploadManuscriptButtonMain" onclick="location.href='/manuscript/{{manuscript_id}}/confirm/'" title="Uplaod approved submission data, code and metadata to a dataverse" aria-label="Uplaod approved submission data, code and metadata to a dataverse">Upload To Dataverse</button>    
    {% endif %}
    {% if dataversePullCitationButtonMain %}
    <button type="button" class="btn btn-secondary buttons-collection" id="dataversePullCitationButtonMain" onclick="location.href='/manuscript/{{manuscript_id}}/pullcitation/'" title="Fetch additional info from the dataset created for this manuscript. Please ensure the dataset has been published." aria-label="Fetch additional info from the dataset created for this manuscript. Please ensure the dataset has been published.">Fetch Dataset Info</button>    
    {% endif %}

    {% if m_edit_flag %} 
        <button type="button" class="btn btn-secondary buttons-collection" id="editManuscriptButton" onclick="location.href='/manuscript/{{manuscript_id}}/edit/'" title="Edit manuscript metadata" aria-label="Edit manuscript metadata">Edit Manuscript</button>
    {% endif %}
    {% if m_edit_files_flag %}
       <button type="button" class="btn btn-secondary buttons-collection" id="editManuscriptFilesButton" onclick="location.href='/manuscript/{{manuscript_id}}/uploadfiles/'" title="Edit publication and appendix files for manuscript" aria-label="Edit publication and appendix files for manuscript">Edit Manuscript Files</button>
    {% endif %}

    <div class="btn-group" role="group" aria-labelledby="dropdownMenuButton1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" title="Click to select additional actions" aria-label="Click to select additional actions">
            More Actions
        </button>
        <div class="dropdown-menu">
            {% if reviewSubmissionButtonMore %}
                <a class="dropdown-item" id="reviewSubmissionButtonLinkMore" href="/submission/{{latest_submission_id}}/review/" title="Review latest submission" aria-label="Review latest submission">Review Submission</a>
            {% endif %}
            {% if updateReviewSubmissionButtonMore %}
                <a class="dropdown-item" id="updateReviewSubmissionButtonLinkMore" href="/submission/{{latest_submission_id}}/update/" title="Update latest submission review" aria-label="Update latest submission review">Update Review</a>
            {% endif %}
            <a class="dropdown-item" id="viewManuscriptButtonLinkMore" href="/manuscript/{{manuscript_id}}/view/" title="View additional manuscript info" aria-label="View additional manuscript info">Additional Info</a>
            {% comment %} <li><a class="dropdown-item" href="/manuscript/{{manuscript_id}}/viewfiles/">Files</a></li> --> {% endcomment %}
            {% if not sendReportButton %}
            <a class="dropdown-item" id="reportDownloadButtonLinkMore" href="/manuscript/{{manuscript_id}}/reportdownload/" title="Download current verification report" aria-label="Download current verification report">Download Report</a>
            {% endif %}
            {% if launchContainerCurrentSubButton %}
                {% if wholetale %}
                <a class="dropdown-item" id="launchContainerButtonLinkMore" title="Launch container with data/code from this manuscript" aria-label="Launch container with data/code from this manuscript" onclick="window.open('/submission/{{latest_submission_id}}/notebook/')">Launch Container</a>
                <a class="dropdown-item" id="downloadContainerButtonLinkMore" title="Download the files contained in the virtual environment created for this round of review. Note that this data/code may be different than what is held the CORE2 system, due to user interactions in the virtual environment." aria-label="Download the files contained in the virtual environment created for this round of review. Note that this data/code may be different than what is held the CORE2 system, due to user interactions in the virtual environment." onclick="window.open('/submission/{{latest_submission_id}}/wtdownloadall/')">Download Container Files</a>
                {% else %}
                <a class="dropdown-item" id="launchContainerButtonLinkMore" title="Launch container with data/code from this manuscript" aria-label="Launch container with data/code from this manuscript" onclick="window.open('/manuscript/{{manuscript_id}}/notebook/')">Launch Container</a>
                {% endif %}
            {% endif %}
            {% if dataverseUploadManuscriptButtonMore %}
                <a class="dropdown-item" id="dataverseUploadManuscriptButtonLinkMore" title="Create a new dataset from the data/code/metadata stored for this manuscript" aria-label="Create a new dataset from the data/code/metadata stored for this manuscript" href="/manuscript/{{manuscript_id}}/confirm/">Reupload To Dataverse</a>
            {% endif %}
            {% if dataversePullCitationButtonMore %}
                <a class="dropdown-item" id="dataversePullCitationButtonLinkMore" title="Fetch additional info from the dataset created for this manuscript. Please ensure the dataset has been published." aria-label="Fetch additional info from the dataset created for this manuscript. Please ensure the dataset has been published." href='/manuscript/{{manuscript_id}}/pullcitation/'>Fetch Dataset Info</a>
            {% endif %}
            {% if notifyManuscriptButtonMore %}
                {% comment %} TODO: We probably need to change the button text if it is an editor to specify we are notifying the author {% endcomment %} 
                <a class="dropdown-item" id="notifyManuscriptLinkMore" title="Remind the user assigned and in phase to work on this manuscript that it is ready." aria-label="Remind the user assigned and in phase to work on this manuscript that it is ready." href='/manuscript/{{manuscript_id}}/remind/'>Send Reminder</a>

                {% comment %} <form action="/manuscript/{{manuscript_id}}/remind/" method="post" id="notifyForm">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary buttons-collection" id="notifyManuscriptMore" title="Remind the user assigned and in phase to work on this manuscript that it is ready." aria-label="Remind the user assigned and in phase to work on this manuscript that it is ready.">Send Reminder</button> 
                </form> {% endcomment %}
            {% endif %}
        </div>
    </div>

    {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
    <div class="btn-group" role="group">
        <button class="btn btn-secondary buttons-collection dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" title="Click to assign users to the manuscript" aria-label="Click to assign users to the manuscript">
            Assign
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" title="Assign or unassign author to this manuscript" aria-label="Assign or unassign author to this manuscript" href="/manuscript/{{manuscript_id}}/inviteassignauthor/">Manage Authors</a>
            <a class="dropdown-item" title="Assign or unassign editor to this manuscript" aria-label="Assign or unassign editor to this manuscript" href="/manuscript/{{manuscript_id}}/assigneditor/">Manage Editors</a>
            <a class="dropdown-item" title="Assign or unassign curator to this manuscript" aria-label="Assign or unassign curator to this manuscript" href="/manuscript/{{manuscript_id}}/assigncurator/">Manage Curator</a>
            <a class="dropdown-item" title="Assign or unassign verifier to this manuscript" aria-label="Assign or unassign verifier to this manuscript" href="/manuscript/{{manuscript_id}}/assignverifier/">Manage Verifier</a>
        </div>
    </div>
    {% endif %} 
    <button type="button" class="btn btn-secondary buttons-collection" id="indexButton" onClick="location.href='/'" title="Return to list of manuscripts" aria-label="Return to list of manuscripts">Index</button>
    </div>    
    <br>
    <div class="accordion" style="margin:10px -21px" id="manuscriptAccordionPanels">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" aria-label="Show/hide manuscript files">
              Manuscript Files
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#manuscriptAccordionPanels" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">                
              <div id="files_list_holder">
                {% include "file_datatable/file_datatable.html" with obj_id=obj_id read_only=True file_url_base=''%}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" aria-label="Show/hide list of submissions">
              Submissions
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" data-bs-parent="#manuscriptAccordionPanels" aria-labelledby="panelsStayOpen-headingThree">
            <div id="submission_table_holder_landing">
                <table id="submission_table" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
                    <thead>
                        {% for field in submission_columns %}
                            <th>{{ field }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div >
          </div>
        </div>
    </div>
</div>
{% endblock %}
