{% extends "main/layout_full.html" %}
{% load i18n %}
{% load auth_extras %}
{% block content %}

<script type="text/javascript">
    var manuscript_id = {{manuscript_id}};
    var createSubButton = {{create_sub_allowed}};

    function sub_table_callback(table) {
        dt_submission = table;
    }

    function constructTable(columns) {
        var columns_config = [];
        var button_index;
        for (var c in columns) {
            var column_settings = {name: columns[c][0], title: columns[c][1]}
            if(columns[c][0] === 'buttons') {
                column_settings.visible = false;
                button_index = c;
            } else if(columns[c][0] === 'id' || columns[c][0] === 'created_at' || columns[c][0] === 'authors' || columns[c][0] === 'editors' || columns[c][0] === 'curators' || columns[c][0] === 'verifiers') { //Sometimes this doesn't work right, see issue #26 "Fix Datatable Visibility Bug"
                column_settings.visible = false;
            }
            columns_config[c] = column_settings
        }
        return [columns_config, button_index];
    } 
    
    function fixButtonGroupCurve() {
        //{% comment %} needs as we make buttons invisible, otherwise groups end up with non-rounded edges {% endcomment %}
        $('.btn-group').has('.btn:hidden').find('.btn').css('border-radius', 0);
        $('.btn-group').has('.btn:hidden').find('.btn:visible:first').css({
            'border-top-left-radius': '3px',
            'border-bottom-left-radius': '3px',
        });
        $('.btn-group').has('.btn:hidden').find('.btn:visible:last').css({
            'border-top-right-radius': '3px',
            'border-bottom-right-radius': '3px',
        });
    }

    $(document).ready(function() {
        console.log("Create sub outside")
        $.ajax({
            url: "/manuscript/"+ manuscript_id +"/submission_table/",
            cache: false,
            success: function (response) {
                console.log("Create sub inside")
                var [columns_config, button_index] = constructTable(response.data[0]);
                var table = $('#submission_table').DataTable({
                    lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
                    searching: true,
                    processing: true,
                    stateSave: true,
                    select: 'single',
                    columns: columns_config,
                    dom: 'Bfrt',
                    data: response.data.slice(1),
                    buttons: [
                        {% if request.user|has_group:GROUP_ROLE_AUTHOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Submission',
                                name: 'createSubmission',
                                action: function ( e, dt, node, config ) {
                                    {% if first_submission %}
                                        window.location.href = "/manuscript/"+ manuscript_id +"/complete/";
                                    {% else %}
                                        window.location.href = "/manuscript/"+ manuscript_id +"/createsubmission/";
                                    {% endif %}
                                },
                                enabled: createSubButton
                            },
                        {% endif %}

                        {
                            text: 'Edit/Progress',
                            name: 'editSubmission',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/edit/";
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'Edit Files',
                            name: 'editSubmissionFiles',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/editfiles/";
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'View',
                            name: 'viewSubmission',
                            action: function ( e, dt, node, config ) {
                                window.location.href = "/submission/"+submission_id+"/view/";
                            },
                            init: function ( dt, node, config ) {
                                    node.css("display", "none");
                                },
                            enabled: false
                        },
                        {
                            text: 'View Files',
                            name: 'viewSubmissionFiles',
                            action: function ( e, dt, node, config ) {

                                window.location.href = "/submission/"+submission_id+"/viewfiles/";
                            },
                            init: function ( dt, node, config ) {
                                    node.css("display", "none");
                                },
                            enabled: false
                        },

                        {
                            text: 'Hand-off to Editors',
                            name: 'progressSubmission',
                            action: function ( e, dt, node, config ) {
                                var headers = new Headers();
                                headers.append('X-CSRFToken', '{{ csrf_token }}');
                                fetch('/submission/'+submission_id+'/progress/', {
                                    method: 'POST',
                                    headers: headers, 
                                    credentials: 'include'
                                }).then(response => {
                                    if (response.redirected) {
                                        window.location.href = response.url;
                                    }
                                })
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'Send Report',
                            name: 'generateReportForSubmission',
                            action: function ( e, dt, node, config ) {
                                var headers = new Headers();
                                headers.append('X-CSRFToken', '{{ csrf_token }}');
                                fetch('/submission/'+submission_id+'/generatereport/', {
                                    method: 'POST',
                                    headers: headers, 
                                    credentials: 'include'
                                }).then(response => {
                                    if (response.redirected) {
                                        window.location.href = response.url;
                                    }
                                })
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },
                        {
                            text: 'Return Submission to Authors',
                            name: 'returnSubmission',
                            action: function ( e, dt, node, config ) {
                                var headers = new Headers();
                                headers.append('X-CSRFToken', '{{ csrf_token }}');
                                fetch('/submission/'+submission_id+'/finish/', {
                                    method: 'POST',
                                    headers: headers, 
                                    credentials: 'include'
                                }).then(response => {
                                    if (response.redirected) {
                                        window.location.href = response.url;
                                    }
                                })
                            },
                            init: function ( dt, node, config ) {
                                node.css("display", "none");
                            },
                            enabled: false
                        },

                    ]
                })
                .on( 'select', function ( e, dt, type, indexes ) {
                    //MAD: these should be rewritten to get values from the construct columns, probably means we'll need a separate function for each table
                    submission_id = dt.rows( { selected: true } ).data()[0][0] //Implicit globals are not best practice
                    submission_status = dt.rows( { selected: true } ).data()[0][2] //Implicit globals are not best practice
                    //edition_id = dt.rows( { selected: true } ).data()[0][2] //Implicit globals are not best practice
                    //curation_id = dt.rows( { selected: true } ).data()[0][4] //Implicit globals are not best practice
                    //verification_id = dt.rows( { selected: true } ).data()[0][6] //Implicit globals are not best practice
                    avail_buttons = dt.rows( { selected: true } ).data()[0][button_index];
                    for(var i in avail_buttons) {
                        dt.button(avail_buttons[i]+':name').enable(true);
                        dt.button(avail_buttons[i]+':name').nodes().css("display", "block");
                    }
                    if(submission_status == "New") {
                        dt.button('viewSubmissionFiles:name').enable(false);
                        dt.button('viewSubmissionFiles:name').nodes().css("display", "none");
                    }
                    fixButtonGroupCurve();

                    console.log('Table row selected');
                } )
                .on( 'deselect', function ( e, dt, type, indexes ) {
                    var count = dt.rows( { selected: true } ).count();
                    if(count == 0) { //This is not dynamic because we can't ensure we know all the possible buttons by looking at a certain row
                        dt.button('editSubmission:name').enable(false);
                        dt.button('editSubmission:name').nodes().css("display", "none");
                        dt.button('editSubmissionFiles:name').enable(false);
                        dt.button('editSubmissionFiles:name').nodes().css("display", "none");
                        dt.button('viewSubmission:name').enable(false);
                        dt.button('viewSubmission:name').nodes().css("display", "none");
                        dt.button('viewSubmissionFiles:name').enable(false);
                        dt.button('viewSubmissionFiles:name').nodes().css("display", "none");
                        dt.button('progressSubmission:name').enable(false);
                                
                    }
                    fixButtonGroupCurve();

                    console.log('Table row deselected');
                } )
                .order.neutral().draw()
                .row(':eq(0)', { page: 'current' }).select();
                
                sub_table_callback(table)

                manuscript_avail_buttons = JSON.parse('{{manuscript_avail_buttons|safe}}');
                for(var i in manuscript_avail_buttons) {
                    table.button(manuscript_avail_buttons[i]+':name').enable(true);
                    table.button(manuscript_avail_buttons[i]+':name').nodes().css("display", "block");
                }

                fixButtonGroupCurve();
            }
            })
            
    });
    
</script>

{% include "main/page_title.html" with no_hr=True %}
<br>
    <div class="my-1 dt-buttons btn-group flex-wrap">    
        {% comment %} we precall these and store them as template variables. slightly inefficient {% endcomment %}
        {% user_has_transition_perm request.user 'manuscript' manuscript_id 'edit_noop' as m_edit_flag %}
        {% user_has_transition_perm request.user 'manuscript' manuscript_id 'view_noop' as m_view_flag %}
        {% user_has_transition_perm request.user 'manuscript' manuscript_id 'begin' as m_begin_flag %}

        {% if m_edit_flag %} 
            <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/edit/'">Edit/Progress</button>
            <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/uploadfiles/'">Edit Files</button>
        {% elif m_view_flag %}
            <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/view/'">View</button>
            <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/viewfiles/'">View Files</button>
        {% endif %}
        <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/report/'">View Report</button>
        {% if manuscript_has_submissions %}
            <button type="button" class="btn btn-secondary buttons-collection" onclick="window.open('/manuscript/{{manuscript_id}}/notebook/')">Launch Notebook</button>
        {% endif %}
        {% comment %} {% if m_begin_flag %}  {% endcomment %}
            {% comment %} This should be a post. But are we going to move the control inside of manuscript or something? {% endcomment %}
            {% comment %} <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/progress/'">Hand-off to Authors</button> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
        {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
            <button type="button" class="btn btn-secondary buttons-collection dropdown-toggle" id="dropdownMenuButtonManuscriptMembers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manuscript Access</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonManuscriptMembers">
                {% comment %} {% if request.user|has_group:GROUP_ROLE_AUTHOR or request.user|has_group:GROUP_ROLE_EDITOR %}  {% endcomment %}
                {% if request.user|has_group:GROUP_ROLE_CURATOR %}
                    <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/inviteassignauthor/">Invite/Add Author</a>
                {% endif %}
                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                    <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assigneditor/">Add Editor</a>
                    <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assigncurator/">Add Curator</a>
                    <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assignverifier/">Add Verifier</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <p class="my-2"> 
        <b>Status: {{manuscript_status}} </b><br>
        Author{% if manuscript_authors|length > 1 %}s{% endif %}: {{manuscript_authors|join:', '}} <br>
        Editor{% if manuscript_editors|length > 1 %}s{% endif %}: {{manuscript_editors|join:', '}}
        {% if request.user|has_group:GROUP_ROLE_CURATOR or request.user|has_group:GROUP_ROLE_VERIFIER %} 
            <br> 
            Curator{% if manuscript_curators|length > 1 %}s{% endif %}: {{manuscript_curators|join:', '}} <br>
            Verifier{% if manuscript_verifiers|length > 1 %}s{% endif %}: {{manuscript_verifiers|join:', '}}
        {% endif %}
    </p>


    <div id="submission_table_holder">
        <table id="submission_table" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
            <hr>
            <div>
                <h5 class="cblue"> Submissions </h5>
            </div> 
            <thead>
                {% for field in submission_columns %}
                    <th>{{ field }}</th>
                {% endfor %}
            </thead>
            <tbody>
            </tbody>
        </table>
    </div >
</div>
{% endblock %}