{% extends "main/layout.html" %}
{% load i18n %}
{% load auth_extras %}
{% block content %}

<script type="text/javascript">
    var manuscript_id = {{manuscript_id}};
    var createSubButton = {{create_sub_allowed}};

    function sub_table_callback(table) {
        dt_submission = table;
    }

    function constructTable(columns) {
        var columns_config = [];
        var button_index;
        for (var c in columns) {
            var column_settings = {name: columns[c]}
            if(columns[c] === 'buttons') {
                column_settings.visible = false;
                button_index = c;
            } else if(columns[c] === 'edition_id' || columns[c] === 'curation_id' || columns[c] === 'verification_id' 
                || columns[c] === 'created_at' || columns[c] === 'updated_at' || columns[c] === 'authors' || columns[c] === 'editors' || columns[c] === 'curators' || columns[c] === 'verifiers') { //MAD: why isn't this working? it is being called....
                column_settings.visible = false;
            }
            columns_config[c] = column_settings
        }
        return [columns_config, button_index];
    } 

    $(document).ready(function() {
        console.log("Create sub outside")
        $.ajax({
            url: "/manuscript/"+ manuscript_id +"/submission_table/",
            cache: false,
            success: function (response) {
                console.log("Create sub inside")
                var [columns_config, button_index] = constructTable(response.data[0]);
                var table = $('#submission_table').DataTable({
                    lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
                    searching: true,
                    processing: true,
                    stateSave: true,
                    select: 'single',
                    columns: columns_config,
                    dom: 'Bfrt',
                    data: response.data.slice(1),
                    buttons: [
                        {% if request.user|has_group:GROUP_ROLE_AUTHOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Submission',
                                name: 'createSubmission',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/manuscript/"+ manuscript_id +"/createsubmission/";
                                },
                                enabled: createSubButton
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Submission Actions',
                            fade: 0,
                            buttons: [
                                {% comment %} {% if request.user|has_group:GROUP_ROLE_AUTHOR %}  {% endcomment %}
                                    {
                                        text: 'Edit/Progress',
                                        name: 'editSubmission',
                                        action: function ( e, dt, node, config ) {
                                            window.location.href = "/submission/"+submission_id+"/edit/";
                                        },
                                        init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                        enabled: false
                                    },
                                    {
                                        text: 'Edit Files',
                                        name: 'editSubmissionFiles',
                                        action: function ( e, dt, node, config ) {
                                            window.location.href = "/submission/"+submission_id+"/editfiles/";
                                        },
                                        init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                        enabled: false
                                    },
                                {% comment %} {% endif %} {% endcomment %}
                                {
                                    text: 'View',
                                    name: 'viewSubmission',
                                    action: function ( e, dt, node, config ) {
                                        window.location.href = "/submission/"+submission_id+"/view/";
                                    },
                                    init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                    enabled: false
                                },
                                {
                                    text: 'View Files',
                                    name: 'viewSubmissionFiles',
                                    action: function ( e, dt, node, config ) {

                                        window.location.href = "/submission/"+submission_id+"/viewfiles/";
                                    },
                                    init: function ( dt, node, config ) {
                                            node.css("display", "none");
                                        },
                                    enabled: false
                                },
                                {% comment %} {% if request.user|has_group:GROUP_ROLE_AUTHOR %} 
                                    {
                                        text: 'Hand-off to Editors',
                                        name: 'progressSubmission',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/submission/'+submission_id+'/progress/', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %} {% endcomment %}
                                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                                    {
                                        text: 'Generate Report',
                                        name: 'generateReportForSubmission',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/submission/'+submission_id+'/generatereport/', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Return Submission to Authors',
                                        name: 'returnSubmission',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/submission/'+submission_id+'/return/', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },

                        {% comment %} 
                        {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Edition',
                                name: 'createEdition',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/submission/"+submission_id+"/createedition/";
                                },
                                enabled: false
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Edition Actions',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Edit',
                                        name: 'editEdition',
                                        action: function ( e, dt, node, config ) {
                                            window.location.href = "/edition/"+edition_id+"/edit/";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {
                                    text: 'View',
                                    name: 'viewEdition',
                                    action: function ( e, dt, node, config ) {
                                        window.location.href = "/edition/"+edition_id+"/view/";
                                    },
                                    enabled: false
                                },
                                {% if request.user|has_group:GROUP_ROLE_EDITOR %} 
                                    {
                                        text: 'Submit Review',
                                        name: 'progressEdition',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/edition/'+edition_id+'/progress/', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },
                        {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Curation',
                                name: 'createCuration',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/submission/"+submission_id+"/createcuration/";
                                },
                                enabled: false
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Curation Actions',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                                    {
                                        text: 'Edit',
                                        name: 'editCuration',
                                        action: function ( e, dt, node, config ) {
                                            window.location.href = "/curation/"+curation_id+"/edit/";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                {
                                    text: 'View',
                                    name: 'viewCuration',
                                    action: function ( e, dt, node, config ) {
                                        window.location.href = "/curation/"+curation_id+"/view/";
                                    },
                                    enabled: false
                                },
                                {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                                    {
                                        text: 'Submit Review',
                                        name: 'progressCuration',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/curation/'+curation_id+'/progress/', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },

                        {% if request.user|has_group:GROUP_ROLE_VERIFIER %} 
                            {
                                text: '<i class="fas fa-plus"></i> &nbsp;Create Verification',
                                name: 'createVerification',
                                action: function ( e, dt, node, config ) {
                                    window.location.href = "/submission/"+submission_id+"/createverification/";
                                },
                                enabled: false
                            },
                        {% endif %}
                        {
                            extend: 'collection',
                            text: 'Verification Actions',
                            fade: 0,
                            buttons: [
                                {% if request.user|has_group:GROUP_ROLE_VERIFIER %} 
                                    {
                                        text: 'Edit',
                                        name: 'editVerification',
                                        action: function ( e, dt, node, config ) {
                                            window.location.href = "/verification/"+verification_id+"/edit/";
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                                    {
                                        text: 'View',
                                        name: 'viewVerification',
                                        action: function ( e, dt, node, config ) {
                                            window.location.href = "/verification/"+verification_id+"/view/";
                                        },
                                        enabled: false
                                    },
                                {% if request.user|has_group:GROUP_ROLE_VERIFIER %} 
                                    {
                                        text: 'Submit Review',
                                        name: 'progressVerification',
                                        action: function ( e, dt, node, config ) {
                                            var headers = new Headers();
                                            headers.append('X-CSRFToken', '{{ csrf_token }}');
                                            fetch('/verification/'+verification_id+'/progress/', {
                                                method: 'POST',
                                                headers: headers, 
                                                credentials: 'include'
                                            }).then(response => {
                                                if (response.redirected) {
                                                    window.location.href = response.url;
                                                }
                                            })
                                        },
                                        enabled: false
                                    },
                                {% endif %}
                            ]
                        },
                                                {% endcomment %}

                        
                        
                    ]
                })
                .on( 'select', function ( e, dt, type, indexes ) {
                    //MAD: these should be rewritten to get values from the construct columns, probably means we'll need a separate function for each table
                    submission_id = dt.rows( { selected: true } ).data()[0][0] //Implicit globals are not best practice
                    edition_id = dt.rows( { selected: true } ).data()[0][2] //Implicit globals are not best practice
                    curation_id = dt.rows( { selected: true } ).data()[0][4] //Implicit globals are not best practice
                    verification_id = dt.rows( { selected: true } ).data()[0][6] //Implicit globals are not best practice
                    avail_buttons = dt.rows( { selected: true } ).data()[0][button_index];
                    for(var i in avail_buttons) {
                        dt.button(avail_buttons[i]+':name').enable(true);
                        dt.button(avail_buttons[i]+':name').nodes().css("display", "block");
                    }

                    console.log('Table row selected');
                } )
                .on( 'deselect', function ( e, dt, type, indexes ) {
                    var count = dt.rows( { selected: true } ).count();
                    if(count == 0) { //This is not dynamic because we can't ensure we know all the possible buttons by looking at a certain row
                        dt.button('editSubmission:name').enable(false);
                        dt.button('editSubmission:name').nodes().css("display", "none");
                        dt.button('editSubmissionFiles:name').enable(false);
                        dt.button('editSubmissionFiles:name').nodes().css("display", "none");
                        dt.button('viewSubmission:name').enable(false);
                        dt.button('viewSubmission:name').nodes().css("display", "none");
                        dt.button('viewSubmissionFiles:name').enable(false);
                        dt.button('viewSubmissionFiles:name').nodes().css("display", "none");
                        dt.button('progressSubmission:name').enable(false);

                        dt.button('createEdition:name').enable(false);
                        dt.button('editEdition:name').enable(false);
                        dt.button('editEdition:name').nodes().css("display", "none");
                        dt.button('viewEdition:name').enable(false);
                        dt.button('viewEdition:name').nodes().css("display", "none");
                        dt.button('progressEdition:name').enable(false);

                        dt.button('createCuration:name').enable(false);
                        dt.button('editCuration:name').enable(false);
                        dt.button('editCuration:name').nodes().css("display", "none");
                        dt.button('viewCuration:name').enable(false);
                        dt.button('viewCuration:name').nodes().css("display", "none");
                        dt.button('progressCuration:name').enable(false);

                        dt.button('createVerification:name').enable(false);
                        dt.button('editVerification:name').enable(false);            
                        dt.button('editVerification:name').nodes().css("display", "none");                               
                        dt.button('viewVerification:name').enable(false);
                        dt.button('viewVerification:name').nodes().css("display", "none");
                        dt.button('progressVerification:name').enable(false);
                                                              
                    }
                    console.log('Table row deselected');
                } ).row(':last').select();
                sub_table_callback(table)

                manuscript_avail_buttons = JSON.parse('{{manuscript_avail_buttons|safe}}');
                for(var i in manuscript_avail_buttons) {
                    console.log("var: " + i)
                    console.log(table.button(manuscript_avail_buttons[i]+':name'))
                    table.button(manuscript_avail_buttons[i]+':name').enable(true);
                    table.button(manuscript_avail_buttons[i]+':name').nodes().css("display", "block");
                }
            }
            })
    });

    
</script>
<div class="main_holder">
<h5> Manuscript: {{manuscript_title}} </h5>
<div class="my-1 dt-buttons btn-group flex-wrap">    
    {% comment %} we precall these and store them as template variables. slightly inefficient {% endcomment %}
    {% manuscript_has_transition_perm request.user manuscript_id 'edit_noop' as edit_flag %}
    {% manuscript_has_transition_perm request.user manuscript_id 'view_noop' as view_flag %}
    {% manuscript_has_transition_perm request.user manuscript_id 'begin' as begin_flag %}

    {% if edit_flag %} 
        <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/edit/'">Edit</button>
        <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/uploadfiles/'">Edit Files</button>
    {% elif view_flag %}
        <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/view/'">View</button>
        <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/viewfiles/'">View Files</button>
    {% endif %}
    <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/binder/'">Launch Notebook</button>
    {% if begin_flag %} 
        {% comment %} This should be a post. But are we going to move the control inside of manuscript or something? {% endcomment %}
        <button type="button" class="btn btn-secondary buttons-collection" onclick="location.href='/manuscript/{{manuscript_id}}/progress/'">Hand-off to Authors</button>
    {% endif %}
    {% if request.user|has_group:GROUP_ROLE_AUTHOR or request.user|has_group:GROUP_ROLE_EDITOR or request.user|has_group:GROUP_ROLE_CURATOR %} 
        <button type="button" class="btn btn-secondary buttons-collection dropdown-toggle" id="dropdownMenuButtonManuscriptMembers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manuscript Members</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonManuscriptMembers">
            {% if request.user|has_group:GROUP_ROLE_AUTHOR or request.user|has_group:GROUP_ROLE_EDITOR %} 
                <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/inviteassignauthor/">Invite/Add Author</a>
            {% endif %}
            {% if request.user|has_group:GROUP_ROLE_CURATOR %} 
                <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assigneditor/">Add Editor</a>
                <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assigncurator/">Add Curator</a>
                <a class="dropdown-item" href="/manuscript/{{manuscript_id}}/assignverifier/">Add Verifier</a>
            {% endif %}
        </div>
    {% endif %}
</div>

    <p class="my-2"> 
        Status: {{manuscript_status}} <br>
        Author: {{manuscript_authors}} <br>
        Editor: {{manuscript_editors}}
    </p>
</div>

<div class="main_holder" id="submission_table_holder">
        <table id="submission_table" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
            <hr>
            <h5 class="my-3"> Submissions </h5> 
            <thead>
                {% for field in submission_columns %}
                    <th>{{ field }}</th>
                {% endfor %}
            </thead>
            <tbody>
            </tbody>
        </table>
    </div >

{% endblock %}