{% extends "main/proto_layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Confirmable Reproducible Research!</h1>
    {% comment %} <p>
        The main goal of the project is to make these verification tools cost-effective and easily accessible, so journals may implement and enforce more rigorous data policies. This will oblige researchers to in turn adopt more transparent practices and promote reproducible research of the highest quality and integrity throughout the scientific community.
    </p> {% endcomment %}
    <h2>Associate an account to CoReRe to continue</h2>
    <br/><br/>
    {% comment %} icons in span from https://fontawesome.com/ {% endcomment %}
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/auth/login/google-oauth2" role="button"><span class="fab fa-google"></span> Login with Google</a>
    </p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" href="/auth/login/github" role="button"><span class="fab fa-github"></span> Login with Github</a>
    </p>
</div>

{% endblock %}