{% extends "main/layout.html" %}
{% block content %}
File Access: {{object_title}}
<br>
{% if not read_only %}
{% include "main/file_upload.html" %}
{% endif %}
<input type=button value="Back" onClick="javascript:history.go(-1);">
{% include "main/file_list.html" %}
<script>
    function delete_and_refresh(delete_url, id, obj_type){
        var headers = new Headers();
        headers.append('X-CSRFToken', '{{ csrf_token }}');
        fetch(delete_url, {
            method: 'DELETE',
            headers: headers, 
            credentials: 'include'
        }).then(response => {
            $("#filesWithHeader").load("/"+obj_type+"/"+id+"/fileslist")
        })
    }
    function delete_all_and_refresh(id){
        var headers = new Headers();
        headers.append('X-CSRFToken', '{{ csrf_token }}');
        fetch("/submission/"+id+"/deleteallfiles", {
            method: 'DELETE',
            headers: headers, 
            credentials: 'include'
        }).then(response => {
            $("#filesWithHeader").load("/submission/"+id+"/fileslist")
        })
    }
</script>
{% endblock content %}