{% extends "main/layout_full.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% comment %} This way of showing the notebook may fail if the notebook finishes at the same time this page is loaded {% endcomment %}

{%comment%} Don't forget to re-add the removed wt_loaded bits. Also the correct wtstream. {% endcomment %}
{% include "main/page_title.html" %}
<iframe src="{{notebook_url}}" title="notebook" id="notebook_iframe" {% if wt_launching %} style="display:none;" {% endif %} ></iframe>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="notebook_issue_div" style="display:none;">
        {% crispy form helper %}
    </div>
    <input id="file_note_form_back" type="submit" name="back" value="Back" style="display:none;" title="Return to previous page" aria-label="Return to previous page" >
    <input type="button" value="Home" id="file_note_form_home" style="display:none;" title="Return to manuscript landing page" aria-label="Return to manuscript landing page" onClick="location.href='/manuscript/{{manuscript_id}}/'" >
    {% if not read_only %}
        <input id="file_note_form_launch" type="button" name="launch" value="Launch External" style="display:none;" title="Display container in a full page window" aria-label="Display container in a full page window">
        <input id="file_note_form_submit" type="submit" value="Continue" style="display:none;" title="Continue to add notes about this submission" aria-label="Continue to add notes about this submission"> 
        <input id="file_note_form_download" type="button" name="Download" value="Download Container Files" style="display:none;" onclick="window.open('../wtdownloadall/')" title="Download the files contained in the virtual environment created for this round of review. Note that this data/code may be different than what is held the CORE2 system, due to user interactions in the virtual environment." aria-label="Download the files contained in the virtual environment created for this round of review. Note that this data/code may be different than what is held the CORE2 system, due to user interactions in the virtual environment."> 
        {% comment %}{% if skip_edition %}
            <input id="file_note_form_submit" type="submit" value="Submit" onClick="return confirm('This submission will be handed off to the curation team. Is that ok?');" style="display:none;"> 
        {% else %}
            <input id="file_note_form_submit" type="submit" value="Submit" onClick="return confirm('This submission will be handed off to the editor, and then the curation team. Is that ok?');" style="display:none;"> 
        {% endif %}{% endcomment %}
    {% endif %}
    {% if is_author and not read_only %}
        <input id="file_note_form_issues" type="button" value="It isn't working" title="Add info about problems interacting with the container environment" aria-label="Add info about problems interacting with the container environment" onClick="alert('We are sorry to hear you are having issues running your container. You can attempt to relaunch it with the Delete Instance button. If that does not work, please enter info about the issues you ran into in the text box above the button clicked, and then click submit.'); show_issues_form()" style="display:none;"> 
    {% else %}
        <input id="file_note_form_issues" type="button" value="It isn't working" title="Add info about problems interacting with the container environment" aria-label="Add info about problems interacting with the container environment" onClick="alert('We are sorry to hear you are having issues running your container. Please attempt to relaunch it with the Delete Instance button. If this still does not work, contact your administrator.'); show_issues_form()" style="display:none;"> 
    {% endif %}
    <input id="delete_instance" type="button" name="delete_instance" value="Delete Instance" style="display:none;" title="Delete the instance so it can be re-created" aria-label="Delete the instance so it can be re-created" onClick="deleteInstance()">
</form>

{% if wt_launching %}
<div id="logandbuttondiv" class="rounded border" style="padding:10px; height: 338px; ">
    <h5>Container Launch Status:</h5>
    <div id="logdiv" class="rounded border" style="height:240px; overflow: scroll; padding-left:10px;">

    </div>
    <form style="margin-top: 10px;">
        <input type=button value="Home" title="Return to manuscript landing page" aria-label="Return to manuscript landing page" onClick="location.href='/manuscript/{{manuscript_id}}/'">
        <input id="show_notebook_button" type="button" name="Download" value="Display Container" style="display:none;" title="Display the container environment with your current data/code" aria-label="Display the container environment with your current data/code" onclick="show_iframe()"> 
        {% comment %} <button id="show_notebook_button" type="button" class="button btn-secondary btn-sm" onclick="show_iframe()" style="display:none; margin-top:10px;">Display Notebook</button> {% endcomment %}
    </form>       
</div>

<script type="text/javascript">
    var last_response_len = false;
    container_url = "";
    $.ajax('../wtstream/', {
        xhrFields: {
            onprogress: function(e)
            {          
                var logdiv = $('#logdiv');      
                logdiv.html(e.currentTarget.response);
                logdiv.scrollTop(logdiv[0].scrollHeight);
                //{% comment %}could detect scrolled https://stackoverflow.com/questions/18614301/ {% endcomment %}
            }
        }
    })
    .done(function(data)
    {
        container_url= $('#logdiv').html().substring($('#logdiv').html().indexOf('Container URL: ')+15)
        console.log(container_url)

        var formlaunch = document.getElementById("file_note_form_launch");
        if(formlaunch) {
            formlaunch.onclick = function() {window.open(container_url)};
        }

        var show_notebook_button = document.getElementById("show_notebook_button");
        if(show_notebook_button) {
            show_notebook_button.style.display = 'inline';
        }
    })
    .fail(function(data)
    {
        console.log('Error: ', data);
    });
    console.log('Request Sent');

    function show_iframe() {
        var notebookiframe = document.getElementById("notebook_iframe");
        if(notebookiframe) {
            notebookiframe.src = container_url
            notebookiframe.style.display = 'block';
        }
        var notebookinfotext = document.getElementById("notebook_info_text");
        if(notebookinfotext) {
            notebookinfotext.style.display = 'block';
        }
        var formlaunch = document.getElementById("file_note_form_launch");
        if(formlaunch) {
            formlaunch.style.display = '';
        }
        var formissues = document.getElementById("file_note_form_issues");
        if(formissues) {
            formissues.style.display = '';
        }
        {% if is_author %}
        var formback = document.getElementById("file_note_form_back");
        if(formback) {
            formback.style.display = '';
        }
        var formsubmit = document.getElementById("file_note_form_submit");
        if(formsubmit) {
            formsubmit.style.display = '';
        }
        var formdownload = document.getElementById("file_note_form_download");
        if(formdownload) {
            formdownload.style.display = '';
        }
        {% else %}
        var formhome = document.getElementById("file_note_form_home");
        if(formhome) {
            formhome.style.display = '';
        }
        {% endif %}
        var logandbuttondiv = document.getElementById("logandbuttondiv");
        if(logandbuttondiv) {
            logandbuttondiv.style.display = 'none';
        }
    }
</script>
{% else %}
    <script>
        var formlaunch = document.getElementById("file_note_form_launch");
        if(formlaunch) {
            var notebookiframe = document.getElementById("notebook_iframe");
            if(notebookiframe) {
                console.log(notebookiframe.src)
                formlaunch.onclick = function() {window.open(notebookiframe.src)};
            }
            formlaunch.style.display = '';

            var notebookinfotext = document.getElementById("notebook_info_text");
            if(notebookinfotext) {
                notebookinfotext.style.display = '';
            }
        }
    </script>
    <script>
    var formissues = document.getElementById("file_note_form_issues");
    if(formissues) {
        formissues.style.display = '';
    }
    {% if is_author %}
        var formback = document.getElementById("file_note_form_back");
        if(formback) {
            formback.style.display = '';
        }
        var formsubmit = document.getElementById("file_note_form_submit");
        if(formsubmit) {
            formsubmit.style.display = '';
        }
        var formdownload = document.getElementById("file_note_form_download");
        if(formdownload) {
            formdownload.style.display = '';
        }
    {% else %}
    var formhome = document.getElementById("file_note_form_home");
    if(formhome) {
        formhome.style.display = '';
    }
    {% endif %}
    </script>
{% endif %}
<br>
<p id="notebook_info_text" style="color:gray; {% if wt_launching %} display:none;{% endif %}"><i>Note: Changes made inside this container will not be saved to the CORE2 submission.</i></p>
{% comment %}<br>
<div id="notebook_issue_div" style="display:none;">
    <form id="submission_notebook_issues_form" action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {% crispy form helper %}
    </form>
</div> {% endcomment %}
<script>
    function show_issues_form() {
        var notebook_issue_div = document.getElementById("notebook_issue_div");
        if(notebook_issue_div) {
            notebook_issue_div.style.display = 'block';
        }
        var delete_instance_button = document.getElementById("delete_instance");
        if(delete_instance_button) {
            delete_instance_button.style.display = '';
        }
    }
</script>
<script>
function deleteInstance() {
    var headers = new Headers();
    headers.append('X-CSRFToken', '{{ csrf_token }}');
    //fetch('/submission/{{latest_submission_id}}/'+endpoint+'/', {
    fetch('../deleteinstance/', {
        method: 'POST',
        headers: headers, 
        credentials: 'include'
    }).then(response => {
        if (response.redirected) {
            window.location.href = window.location.href;
        }
    })
}
</script>
{% endblock content %}
