{% extends "main/layout_full.html" %}
{% block content %}
{% comment %} This way of showing the notebook may fail if the notebook finishes at the same time this page is loaded {% endcomment %}

{%comment%} Don't forget to re-add the removed wt_loaded bits. Also the correct wtstream. {% endcomment %}
<iframe src="{{notebook_url}}" title="notebook" id="notebook_iframe" {% if wt_launching %} style="display:none;" {% endif %} ></iframe>

<form id="file_note_nested_form" action="" method="post" enctype="multipart/form-data" style="display:none;">
    {% csrf_token %}
    <input type="submit" name="back" value="Back">
    <input type="button" name="launch" value="Launch External" onclick="window.open('/manuscript/{{manuscript_id}}/notebook/')">
    <input type="submit" name="submit" value="Submit" onClick="return confirm('This submission will be handed off to the editor, and then the curation team. Is that ok?');"> 
</form>

{% if wt_launching %}
<div id="logandbuttondiv" class="rounded border" style="padding:10px; height: 338px; ">
    <h5>Binder Launch Status:</h5>
    <div id="logdiv" class="rounded border" style="height:240px; overflow: scroll; ">

    </div>
    <form><button id="show_notebook_button" type="button" class="button btn-secondary btn-sm" onclick="show_iframe()" style="display:none; margin-top:10px;">Display Notebook</button></form>       
</div>

<script type="text/javascript">
    var last_response_len = false;
    binder_url = "";
    $.ajax('../wtstream/', {
        xhrFields: {
            onprogress: function(e)
            {          
                var logdiv = $('#logdiv');      
                logdiv.html(e.currentTarget.response);
                logdiv.scrollTop(logdiv[0].scrollHeight);
                //{% comment %}could detect scrolled https://stackoverflow.com/questions/18614301/ {% endcomment %}
            }
        }
    })
    .done(function(data)
    {
        binder_url= $('#logdiv').html().substring($('#logdiv').html().indexOf('Binder URL: ')+12)
        console.log(binder_url)

        var show_notebook_button = document.getElementById("show_notebook_button");
        if(show_notebook_button) {
            show_notebook_button.style.display = 'block';
        }
    })
    .fail(function(data)
    {
        console.log('Error: ', data);
    });
    console.log('Request Sent');

    function show_iframe() {
        var notebookiframe = document.getElementById("notebook_iframe");
        if(notebookiframe) {
            notebookiframe.src = binder_url
            notebookiframe.style.display = 'block';
        }
        var formbuttons = document.getElementById("file_note_nested_form");
        if(formbuttons) {
            formbuttons.style.display = 'block';
        }
        var logandbuttondiv = document.getElementById("logandbuttondiv");
        if(logandbuttondiv) {
            logandbuttondiv.style.display = 'none';
        }
    }
</script>
{% endif %}

{% endblock content %}
