<div class="header">
    {% comment %} Similar logic in head.html for tab titles {% endcomment %}
    <div class="header-text">
        <span class="page-header" > {{page_title}}{% spaceless %}
        {% if manuscript_display_name %}
        : </span> <span class="manuscript-header" >{{manuscript_display_name}}</span>
        {% else %}
        </span>
        {% endif %}{% endspaceless %}
    </div>
</div>

{% if progress_bar_html %}
    {{progress_bar_html|safe }}
{% endif %}

{% if page_help_text %}
<br>
<h6><i><span style="color:#666666; margin-left:1px;"> {{page_help_text}} </span></i></h6>
{% endif %}
{% if not no_hr %}
<hr>
{% endif %}