{% extends "main/proto_layout.html" %}

{% block content %}
<h1>Create new catalog record</h1>
<span class="badge badge-light">Draft</span>

<br/>
<br/>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb blue-grey lighten-4" id="page_states">
        <li id="s1" class="breadcrumb-item page_state"><a class="black-text" href="#">General</a><i class="fas fa-angle-double-right mx-2"
            aria-hidden="true"></i></li>
        <li id="s2" class="breadcrumb-item active page_state"><a class="" href="#">Methods</a><i class="fas fa-angle-double-right mx-2"
            aria-hidden="true"></i></li>
        <li id="s3" class="breadcrumb-item active page_state"><a class="" href="#">Files</a><i class="fas fa-angle-double-right mx-2"
            aria-hidden="true"></i></li>
        <li id="s4" class="breadcrumb-item active page_state"><a class="" href="#">Notes</a><i class="fas fa-angle-double-right mx-2"
            aria-hidden="true"></i></li>
        <li id="s5" class="breadcrumb-item active page_state"><a class="" href="#">Submit for Curation</a></li>

    </ol>
</nav>
<p class="lead">Fields marked with * are required before submitting a catalog record for curation.</p>


<div class="card page_content" id="s1_content">
    <div class="card-body">
        

        <form>
            <h2>General</h2>

            <div class="md-form form-lg">
                <input name="title" type="text" id="general_title" class="form-control">
                <label for="general_title">Title *</label>
            </div>
            <div class="md-form form-lg">
                <input name="authors" type="text" id="general_authors" class="form-control">
                <label for="general_authors">Authors *</label>
            </div>
            <div class="md-form form-lg">
                <input name="description" type="text" id="general_description" class="form-control">
                <label for="general_description">Description *</label>
            </div>
            <div class="md-form form-lg">
                <input name="number" type="text" id="general_number" class="form-control">
                <label for="general_number">Number</label>
            </div>
            <div class="md-form form-lg">
                <input name="keywords" type="text" id="general_keywords" class="form-control">
                <label for="general_keywords">Keywords *</label>
                Seperate multiple outcome measures with a comma
            </div>


            <h2>Citation</h2>
            <div class="md-form form-lg">
                <input name="funding" type="text" id="citation_funding" class="form-control">
                <label for="citation_funding">Funding *</label>
            </div>

            <h2>Access</h2>

            <select class="browser-default custom-select">
                    <option selected>Access Statement *</option>
                    <option value="1">Public</option>
                    <option value="2">Restricted</option>
            </select>

            <br/><br/>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="access_confidential_box">
                <label class="custom-control-label" for="access_confidential_box">Confidential</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="access_embargo_box">
                <label class="custom-control-label" for="access_embargo_box">Embargoed</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="access_restriction_box">
                <label class="custom-control-label" for="access_restriction_box">Other Restriction</label>
            </div>


            <div class="md-form form-lg">
                <input name="confidentiality" type="text" id="access_confidentiality" class="form-control">
                <label for="access_confidentiality">Confidentiality Statement *</label>
            </div>

            <div class="md-form form-lg">
                <input name="embargo" type="text" id="access_embargo" class="form-control">
                <label for="access_embargo">Embargo Statement *</label>
            </div>

            <div class="md-form form-lg">
                <input name="other" type="text" id="access_other" class="form-control">
                <label for="access_other">Other Restriction</label>
            </div>

            <br/>

            <h2>Other</h2>

            <div class="md-form form-lg">
                <input name="databases" type="text" id="other_databases" class="form-control">
                <label for="other_databases">Related Databases *</label>
            </div>

            <div class="md-form form-lg">
                <input name="publications" type="text" id="other_publications" class="form-control">
                <label for="other_publications">Related Publications *</label>
            </div>

            <div class="md-form form-lg">
                <input name="projects" type="text" id="other_projects" class="form-control">
                <label for="other_projects">Related Projects *</label>
            </div>

        </form>
       

        <button type="button" data-page="1" class="btn btn-unique btn-next">Next</button>


        

    </div>
</div>


<div class="card page_content" id="s2_content">
    <div class="card-body">
        <form>
            <h2>Methods</h2>
            <div class="md-form form-lg">
                <input name="researchdesign" type="text" id="methods_researchdesign" class="form-control">
                <label for="methods_researchdesign">Related Databases *</label>
            </div>

            <div class="md-form form-lg">
                <input name="datacollection" type="text" id="methods_datacollection" class="form-control">
                <label for="methods_datacollection">Mode of Data Collection *</label>
            </div>

            <div class="md-form form-lg">
                <input name="datacollection" type="text" id="methods_datacollection" class="form-control">
                <label for="methods_datacollection">Mode of Data Collection *</label>
            </div>

            <div class="md-form form-lg">
                <input name="fielddates" type="text" id="methods_fielddates" class="form-control">
                <label for="methods_fielddates">Field Dates *</label>
            </div>

            <div class="md-form form-lg">
                <input name="timeperiod" type="text" id="methods_timeperiod" class="form-control">
                <label for="methods_timeperiod">Time Period *</label>
            </div>

            <div class="md-form form-lg">
                <input name="location" type="text" id="methods_location" class="form-control">
                <label for="methods_location">Location *</label>
            </div>

            <div class="md-form form-lg">
                <input name="locationdetails" type="text" id="methods_locationdetails" class="form-control">
                <label for="methods_locationdetails">Location Details</label>
            </div>

            <div class="md-form form-lg">
                <input name="uoo" type="text" id="methods_uoo" class="form-control">
                <label for="methods_uoo">Unit of Observation</label>
            </div>

            <div class="md-form form-lg">
                <input name="samplesize" type="text" id="methods_samplesize" class="form-control">
                <label for="methods_samplesize">Sample Size</label>
            </div>

            <div class="md-form form-lg">
                <input name="incexccriteria" type="text" id="methods_incexccriteria" class="form-control">
                <label for="methods_incexccriteria">Inclusion/Exclusion Criteria</label>
            </div>

            <div class="md-form form-lg">
                <input name="randomizationprocedure" type="text" id="methods_randomizationprocedure" class="form-control">
                <label for="methods_randomizationprocedure">Randomization Procedure</label>
            </div>

            <div class="md-form form-lg">
                <input name="uof" type="text" id="methods_uor" class="form-control">
                <label for="methods_uor">Unit of Randomization</label>
            </div>

            <div class="md-form form-lg">
                <input name="intervention" type="text" id="methods_intervention" class="form-control">
                <label for="methods_intervention">Intervention</label>
            </div>

            <div class="md-form form-lg">
                <input name="interventionadministration" type="text" id="methods_interventionadministration" class="form-control">
                <label for="methods_interventionadministration">Intervention Administration</label>
            </div>

            <div class="md-form form-lg">
                <input name="outcomemeasures" type="text" id="methods_outcome" class="form-control">
                <label for="methods_outcome">Outcome Measures</label>
            </div>

            <h2>Data</h2>
            <div class="md-form form-lg">
                <input name="datatype" type="text" id="data_datatype" class="form-control">
                <label for="data_datatype">Data Type</label>
            </div>
            <div class="md-form form-lg">
                <input name="datasource" type="text" id="data_datasource" class="form-control">
                <label for="data_datasource">Data Source</label>
            </div>
            <div class="md-form form-lg">
                <input name="datasourceinformation" type="text" id="data_datasourceinformation" class="form-control">
                <label for="data_datasourceinformation">Data Source Information</label>
            </div>

        </form>
        <button type="button" data-page="2" class="btn btn-unique btn-next">Next</button>
    </div>
</div>

<div class="card page_content" id="s3_content">
    <div class="card-body">
            <h2>Upload Files</h2>

            <form action="uploadfiles" name="file"
            class="dropzone"
            id="my-awesome-dropzone">                
            </form>

            <button id="corelaunch" class="btn peach-gradient" type="button">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                 &nbsp; Test in Environment</button>
            <br/>


            <div id="core_progress" class="progress">
                <div id="core_progressbar" class="progress-bar" role="progressbar" style="width: 50%"></div>
            </div>

            <textarea readonly id="info"
            style="height:300px;width:100%; resize: none;display:none;"></textarea>

            <iframe id="corealpha" frameborder="1"></iframe><br/>
            <button type="button" data-page="3" class="btn btn-unique btn-next">Next</button>
    </div>
</div>


<div class="card page_content" id="s4_content">
    <div class="card-body">
        <form>
            <h2>Notes</h2>
            <div class="md-form mt-5">
                <textarea type="text" id="notes" class="md-textarea pt-1 py-0 pb-0"></textarea>
                <label for="notes" class="pb-2">Add Notes</label>
            </div>
            <button type="button" data-page="4" class="btn btn-unique btn-next">Next</button>
        </form>
    </div>
</div>

<div class="card page_content" id="s5_content">
    <div class="card-body">
        <form>
            <h2>Consent & Submit</h2>
            <button type="button" data-page="5" class="btn btn-unique btn-next">Submit</button>


        </form>
    </div>
</div>

<style>
.page_content{
    display:none;
}
.page_state:hover{
    background-color:white;
}

.page_state.active:hover{
    background:none;
}

</style>
<script>
    var state = "1";
    var statemax = "1";

    $('#s'+state+"_content").show();

    function changeState(newstate){
        if(newstate != state){
            $('#s'+state+"_content").slideUp();
            $('#s'+newstate+"_content").slideDown();
            console.log(state)
            console.log(newstate)
            state = newstate;
        }
    }

    $(".page_state").click(function(e){
        e.preventDefault();
        var newstate = $(this).attr('id').slice(1);
        console.log(newstate);
        if (newstate <= statemax){
            console.log(newstate);
            changeState(newstate);
        }
    });


    $(".btn-next").click(function(e){
        e.preventDefault();
        var page = $(this).data("page");
        switch(page){
            case 1:
                
                $("#s2").removeClass("active");
                $("#s2 a").addClass("black-text");
                statemax = Math.max(statemax,2);
                changeState(2);
                break;
            case 2:

                $("#s3").removeClass("active");
                $("#s3 a").addClass("black-text");
                statemax = Math.max(statemax,3);
                changeState(3);
                break;
            case 3:

                $("#s4").removeClass("active");
                $("#s4 a").addClass("black-text");
                statemax = Math.max(statemax,4);
                changeState(4);
                break;
            case 4:

                $("#s5").removeClass("active");
                $("#s5 a").addClass("black-text");
                statemax = Math.max(statemax,5);
                changeState(5);
                break;
            case 5:
                break;
        }

    });





</script>

<script>
jQuery.fn.extend({
  autoHeight: function () {
    function autoHeight_(element) {
      return jQuery(element)
        .css({ 'height': 'auto', 'overflow-y': 'hidden' })
        .height(element.scrollHeight);
    }
    return this.each(function() {
      autoHeight_(this).on('input', function() {
        autoHeight_(this);
      });
    });
  }
});

$('#notes').autoHeight();
</script>
<style>
textarea.md-textarea {
  min-height: 3rem;
}

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/basic.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script>
    Dropzone.options.myAwesomeDropzone = {
      paramName: "file", // The name that will be used to transfer the file
      maxFilesize: 0, // MB
        headers: {
            'X-CSRFToken': "{{csrf_token}}"
        },
      accept: function(file, done) {
        if (file.name.indexOf(".zip") != -1) {
          done("Cannot upload zip files!");
        }
        else { done(); }
      },
    
      addRemoveLinks: true,
    
      success: function(file) {
        //file.previewElement = Dropzone.createElement(this.options.previewTemplate);
    
    
        console.log(file)
        // Now attach this new element some where in your page
      },
    };
</script>
<script>
    function logme(text){
        $("#info").val($("#info").val()+text);
    }
    $("#info").val("");

</script>

<style>
#corealpha{
    left:0; 
    bottom:0; 
    right:0; 
    width:100%; 
    height:800px; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden; 
    z-index:2;
}

#core_progress, #corealpha{
    display:none;
}
</style>


<script>
    

    $('#corelaunch').click(function(e){
        e.preventDefault();
        $("#info").fadeIn();
        $("#corelaunch").attr("disabled","disabled");

        console.log("Launching...Please Wait");
        logme("===Launching DO NOT CLOSE!===\r\n");

        $.get( "load", function(data_json){
          console.log(data_json);
          if (data_json['status'] == "Success"){
            logme("==DOWNLOADED SUCCESFULLY==\r\n");
            xdc(data_json['URI'],data_json['Code']);
          } else{
            logme("==SOMETHING WENT WRONG. PLEASE RESTART==\r\n");
          }
        });


    });

    function xdc(repo,shacode) {
        $("#core_progress").css("display", "flex").hide().fadeIn();
        
        $('#core_progressbar').width("1%");

        repo_e = encodeURIComponent(repo);

        var evtSource = new EventSource( "{{ BINDER_ADDR_ENV }}/build/git/"+repo_e+"/"+shacode);
        
        evtSource.onerror = function(e) {
          console.log("EventSource failed.");
          console.log(e);
          //logme(e['data'].toString());
          logme("Cannot Connect to the server...\r\n")
        };


        evtSource.onmessage = function(e) {
          message = e['data'];
          console.log(message);
          phase = JSON.parse(message)['phase'];
          msg = JSON.parse(message)['message'];
          if(phase == "waiting"){
            $('#core_progressbar').width("10%");
          }
          if(phase == "fetching"){
            $('#core_progressbar').width("20%");
          }
          if(phase == "building"){
            $('#core_progressbar').width("45%");
          }
          if(phase == "built"){
            $('#core_progressbar').width("70%");
          }
          if(phase == 'launching'){
            $('#core_progressbar').width("90%");
          }
          logme(msg)

          //OLDDO: Right now the JupyterNotebook Kube config allows this iframe, but there are issues
          //      with the same workspace being open in another window (though I'm not sure where?)
          //
          //      For now we should at least provide a link?
          if(phase == 'ready'){
            $('#core_progressbar').width("100%");
            evtSource.close();
            var lab = "lab"
            //var origin = window.location.origin;
            //window.location = "/binder?url="+JSON.parse(message)['url']+""+lab+"/?token="+JSON.parse(message)['token']+"&ref="+origin;
            url = JSON.parse(message)['url']+""+lab+"/?token="+JSON.parse(message)['token']
            console.log(url)

            $("#corealpha").attr('src', url);
            $("#corealpha").fadeIn();
            $("#core_progress").fadeOut();
            $('#core_progressbar').fadeOut();
            $('#info').fadeOut();
          }
          $('#info').scrollTop($('#info')[0].scrollHeight);
        }
    }
</script>


{% endblock %}