{% extends "main/layout_fixed.html" %}
{% block content %}
{% include "main/page_header.html" %}
    <ul class="list-group">
        <li class="list-group-item"><a title="Invite editor to the CORE2 system" aria-label="Invite editor to the CORE2 system" href="inviteeditor">Invite Editor</a></li>
        <li class="list-group-item"><a title="Invite curator to the CORE2 system" aria-label="Invite curator to the CORE2 system" href="invitecurator">Invite Curator</a></li>
        <li class="list-group-item"><a title="Invite verifier to the CORE2 system" aria-label="Invite verifier to the CORE2 system" href="inviteverifier">Invite Verifier</a></li>
    </ul>
    {% comment %} {% load notifications_tags %}
    {% register_notify_callbacks callbacks='fill_notification_list' %}
    {% live_notify_list %}
    <button type="button" class="button button-secondary" data-dismiss="alert" aria-label="Close" onclick="
        $.ajax({
            url:'/inbox/notifications/mark-all-as-read/',
            type:'get' 
        }); 
        fetch_api_data();">  Clear all notifications </button>          {% endcomment %}
{% endblock content %}