{% extends "main/layout_fixed.html" %}
{% block content %}
{% include "main/page_title.html" %}
    <ul class="list-group">
    <li class="list-group-item"><a href="inviteeditor">Invite Editor</a></li>
    <li class="list-group-item"><a href="invitecurator">Invite Curator</a></li>
    <li class="list-group-item"><a href="inviteverifier">Invite Verifier</a></li>
    </ul>
    {% comment %} {% load notifications_tags %}
    {% register_notify_callbacks callbacks='fill_notification_list' %}
    {% live_notify_list %}
    <button type="button" class="button button-secondary" data-dismiss="alert" aria-label="Close" onclick="
        $.ajax({
            url:'/inbox/notifications/mark-all-as-read/',
            type:'get' 
        }); 
        fetch_api_data();">  Clear all notifications </button>          {% endcomment %}
{% endblock content %}