build
dist
*.pyc
.DS_Store
MANIFEST
.coverage
htmlcov
/.idea/
*.egg-info
.tox/
.python-version
.eggs/
.venv/
/logs/*
!/logs/.blank
test.sqlite3
settings.json
corere/static*
settings.env
corere-cloudrun-service.yaml
/docker/secret*
!/docker/secret.web.sample.sh
!/docker/secret.db.password.sample
!/docker/secret.db.user.sample
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
pub_id-contact_last_name_-_manuscript.zip
pub_id-contact_last_name_-_submission_1.zip
verification_report.pdf