#TODO: Make better requirements, this is a direct dump of pip freeze

asgiref==3.2.3
Authlib==0.13
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==3.3.2
defusedxml==0.6.0
Django==3.1.6
django-appconf==1.0.3
django-autoslug==1.9.8
django-braces==1.14.0
django-compressor==2.4
django-crequest==2018.5.11
django-crispy-forms==1.9.1
django-datatables-view==1.19.1
django-fsm==2.7.0
django-guardian==2.2.0
#Custom django-invitations (1.9.3) with minor change to pass the key forward to signup as we use it when creating an initial user
git+git://github.com/OdumInstitute/django-invitations.git
django-libsass==0.8
django-notifications-hq==1.6.0
django-oauth-toolkit==1.2.0
django-rest-framework-social-oauth2==1.1.0
django-simple-history==2.11.0
djangorestframework==3.11.0
gitpython==3.1.12
idna==2.8
libsass==0.19.4
oauthlib==3.1.0
psycopg2-binary==2.8.4
pycparser==2.19
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
six==1.13.0
sseclient-py==1.7
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
urllib3==1.25.7