asgiref==3.5.0
Authlib==0.15.5
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cryptography==36.0.1
defusedxml==0.7.1
docker==5.0.3
django==3.2.14
django-appconf==1.0.5
django-autoslug==1.9.8
django-braces==1.15.0
django-compressor==3.1
django-crequest==2018.5.11
django-crispy-forms==1.12.0
django-datatables-view==1.19.1
django-fsm==2.8.0
django-guardian==2.4.0

# Custom django-invitations (1.9.3) with changes: 
# - pass the key forward to signup as we use it when creating an initial user
# - disable accepting invitation on initial url load, which disabled the key and broke the flow if you have to reload.
git+https://github.com/OdumInstitute/django-invitations.git

django-libsass==0.9
django-notifications-hq==1.7.0
django-oauth-toolkit==1.7.0
django-renderpdf==3.0.1
django-rest-framework-social-oauth2==1.1.0
django-simple-history==3.0.0
django-sql-explorer==2.4.1
django-templated-email==3.0.0
djangorestframework==3.13.1
girder-client==3.1.8
gitpython==3.1.27
idna==3.3
jupyter-repo2docker==2022.2.0
libsass==0.21.0
oauthlib==3.2.0
psycopg2-binary==2.9.3

# Custom pyDataverse (off 0.3.1) adding functionality to pass mime type explicitly to file upload
# This was needed for supporting our targeted 5.3 dataverse installation.
git+https://github.com/OdumInstitute/pydataverse.git@mime_type_upload

pycparser==2.21
PyJWT==2.4.0
python-jose==3.3.0
# If we stop explicitly passing MIME-type to pyDataverse during file upload, python-magic should not be needed
python-magic==0.4.27
python3-openid==3.2.0
pytz==2021.3
rcssmin==1.1.0
requests==2.27.1
requests-oauthlib==1.3.1
rjsmin==1.2.0
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sseclient-py==1.7.2
sqlparse==0.4.2
urllib3==1.26.8
#We require this slightly older version explicitly to ensure CORE2 uses the right version of libpango when running django-renderpdf. This was an issue on our test server
weasyprint==52.5 