black==22.6.0 #For formatting code during development
coverage==6.3.2
django-sslserver==0.22
django-extensions==3.1.5
django-debug-toolbar==3.2.4
django-debug-toolbar-template-profiler==2.1.0
graphviz==0.19.1 #for visualizing state transitions
mock==4.0.3
selenium==4.2.0
selenium-wire==4.6.3
webdriver_manager==3.7.0 #Gets correct selenium webdriver for browser installed on machine