### CORERE ###
# Used by Django to generate 
DJANGO_SECRET_KEY=
UPLOAD_OUTPUT_PATH=
DJANGO_LOG_DIRECTORY=./logs
DJANGO_SETTINGS_MODULE=corere.settings.production

POSTGRES_HOST=dataverse-corere_db_1
POSTGRES_DB=corere
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

#Location for local file uploads (Manuscripts, etc)
MEDIA_ROOT=

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

### BINDERHUB ###
# Address of your Binderhub server
BINDER_ADDR=

### GITLAB ###
# URL for commiting to gitlab repository from binderhub pod.
GIT_CONFIG_URL="https://user:secret_token@gitlab_full_url/root/test.git/"
# URL for gitlab. Used by CORE-RE to download and commit to repository.
GIT_LAB_URL=
# only "api/v4?" is supported at this stage
GIT_API_VERSION="api/v4/"
# private token used by CORE-RE server that has global access.
GIT_PRIVATE_ADMIN_TOKEN=
# a list of emails (seperated by comma) to use to email changes in git repository.
RECIPIENTS=

### SOCIAL AUTH ###
# Values used for Google OAuth2. See https://python-social-auth.readthedocs.io/en/latest/backends/google.html
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# Values used for Github OAuth2.
SOCIAL_AUTH_GITHUB_OAUTH2_KEY=
SOCIAL_AUTH_GITHUB_OAUTH2_SECRET=
