### CORERE ###
# Used by Django to generate 
UPLOAD_OUTPUT_PATH=
DJANGO_LOG_DIRECTORY=./logs
DJANGO_SETTINGS_MODULE=corere.settings.production

POSTGRES_HOST=db
POSTGRES_DB=corere

#Location for local file uploads (Manuscripts, etc)
MEDIA_ROOT=

### BINDERHUB ###
# Address of your Binderhub server
BINDER_ADDR=

### GITLAB ###
# URL for commiting to gitlab repository from binderhub pod.
GIT_CONFIG_URL="https://user:secret_token@gitlab_full_url/root/test.git/"
# URL for gitlab. Used by CORE-RE to download and commit to repository.
GIT_LAB_URL=
# only "api/v4?" is supported at this stage
GIT_API_VERSION="api/v4/"
# a list of emails (seperated by comma) to use to email changes in git repository.
RECIPIENTS=