### CORERE ###
# Used by Django to generate 
UPLOAD_OUTPUT_PATH=
DJANGO_LOG_DIRECTORY=./logs
DJANGO_SETTINGS_MODULE=corere.settings.production

POSTGRES_HOST=db
POSTGRES_DB=corere

#Location for local file uploads (Manuscripts, etc)
MEDIA_ROOT=

### BINDERHUB ###
# Address of your Binderhub server
BINDER_ADDR=