@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.navbar {
    background: #7386D5;
}

.btn-secondary {
    color: #000;
    background-color: #e7e7e7;
    border-color: #989898
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #000;
    background-color: #e7e7e7;
    border-color: #222
}

.btn.disabled, .btn:disabled {
    opacity: .3;
}

/* 
 * Datatables (we don't have direct control of the html, so a lot of overrides)
 */

.table_holder h5 {
    color: #7386D5;
    display:block;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #7386D5;
    opacity: .75;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #9fa8b1;
}

.dataTables_filter {
    margin-left: 10px;
    float: right;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.35em;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: .95em;
}

ul.pagination {
    float: right;
    a {
        color: #7386D5;
    }

    .page-item.active .page-link {
        color: #fff;
        background-color: #7386D5;
        border-color: #7386D5;
    }
}

table.dataTable tbody th.focus, table.dataTable tbody td.focus {
    box-shadow: unset; //inset 0 0 1px 2px #0275d8;
}

.dropdown-menu a:hover
{
  color: #fff;
  background-color: #7386D5;
  border-color: #fff;
}
.notification_count{
    &.badge {
        margin-top: -0.4em;
    }
}
//To resolve collection buttons without background not closing right: https://datatables.net/forums/discussion/30377/problem-with-collection-button-and-the-background-false-option-with-workaround
.dt-button-background { background:transparent ! important; }


/* Datatables OLD */

// body {
//     // font-family: 'Poppins', sans-serif;
//     // background: #fafafa;
// }

// p {
//     // font-family: 'Poppins', sans-serif;
//     // font-size: 1.1em;
//     // font-weight: 300;
//     // line-height: 1.7em;
//     // color: #999;
// }

// a, a:hover, a:focus {
//     // color: inherit;
//     // text-decoration: none;
//     // transition: all 0.3s;
// }

// .navbar {
//     // padding: 15px 10px;
//     // background: #fff !important;
//     // border: none;
//     // border-radius: 0;
//     // margin-bottom: 40px;
//     // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
// }

// .navbar-btn {
//     // box-shadow: none;
//     // outline: none !important;
//     // border: none;
//     // background: #fff !important;
// }

// .line {
//     // width: 100%;
//     // height: 1px;
//     // border-bottom: 1px dashed #ddd;
//     // margin: 40px 0;
// }


// .card.records {
//     // width:30%;
//     // height:120px;
//     // display:inline-block;
//     // margin-left: 20px;
// }

// .breadcrumb-item + .breadcrumb-item::before {
//     // content: none; 
// }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

// .wrapper {
//     display: flex;
//     width: 100%;
//     align-items: stretch;
//     perspective: 1500px;
// }


// #sidebar {
//     min-width: 250px;
//     max-width: 250px;
//     background: #7386D5;
//     color: #fff;
//     transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
//     transform-origin: bottom left;
// }

// #sidebar.active {
//     margin-left: -250px;
//     transform: rotateY(100deg);
// }

// #sidebar .sidebar-header {
//     padding: 20px;
//     background: #6d7fcc;
// }

// #sidebar ul.components {
//     padding: 20px 0;
//     border-bottom: 1px solid #47748b;
// }

// #sidebar ul p {
//     color: #fff;
//     padding: 10px;
// }

// #sidebar ul li a {
//     padding: 10px;
//     font-size: 1.1em;
//     display: block;
// }
// #sidebar ul li a:hover {
//     color: #7386D5;
//     background: #fff;
// }

// #sidebar ul li.active > a, a[aria-expanded="true"] {
//     color: #fff;
//     background: #6d7fcc;
// }


// a[data-toggle="collapse"] {
//     position: relative;
// }

// .dropdown-toggle::after {
//     display: block;
//     position: absolute;
//     top: 50%;
//     right: 20px;
//     transform: translateY(-50%);
// }

// ul ul a {
//     font-size: 0.9em !important;
//     padding-left: 30px !important;
//     background: #6d7fcc;
// }

// ul.CTAs {
//     padding: 20px;
// }

// ul.CTAs a {
//     text-align: center;
//     font-size: 0.9em !important;
//     display: block;
//     border-radius: 5px;
//     margin-bottom: 5px;
// }

// a.download {
//     background: #fff;
//     color: #7386D5;
// }

// a.article, a.article:hover {
//     background: #6d7fcc !important;
//     color: #fff !important;
// }

// a.logs, a.logs:hover{
//     background: #FFEB3B !important;
//     color: #3F51B5 !important;
// }



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
// #content {
//     width: 100%;
//     padding: 20px;
//     min-height: 100vh;
//     transition: all 0.3s;
// }

// #sidebarCollapse {
//     width: 40px;
//     height: 40px;
//     //background: #f5f5f5;
//     cursor: pointer;
// }

// #sidebarCollapse span {
//     width: 80%;
//     height: 2px;
//     margin: 0 auto;
//     display: block;
//     background: #555;
//     transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
//     transition-delay: 0.2s;
// }

// #sidebarCollapse span:first-of-type {
//     transform: rotate(45deg) translate(2px, 2px);
// }
// #sidebarCollapse span:nth-of-type(2) {
//     opacity: 0;
// }
// #sidebarCollapse span:last-of-type {
//     transform: rotate(-45deg) translate(1px, -1px);
// }


// #sidebarCollapse.active span {
//     transform: none;
//     opacity: 1;
//     margin: 5px auto;
// }


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
// @media (max-width: 768px) {
//     #sidebar {
//         margin-left: -250px;
//         transform: rotateY(90deg);
//     }
//     #sidebar.active {
//         margin-left: 0;
//         transform: none;
//     }
//     #sidebarCollapse span:first-of-type,
//     #sidebarCollapse span:nth-of-type(2),
//     #sidebarCollapse span:last-of-type {
//         transform: none;
//         opacity: 1;
//         margin: 5px auto;
//     }
//     #sidebarCollapse.active span {
//         margin: 0 auto;
//     }
//     #sidebarCollapse.active span:first-of-type {
//         transform: rotate(45deg) translate(2px, 2px);
//     }
//     #sidebarCollapse.active span:nth-of-type(2) {
//         opacity: 0;
//     }
//     #sidebarCollapse.active span:last-of-type {
//         transform: rotate(-45deg) translate(1px, -1px);
//     }

// }

