/* 
 * This file is named output.scss so the same name is generated when calling manage.py compress and when being created automatically.
 * If you rename this, make sure to change your process on how nginx gets its files.
 */


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

// #content {

// }

//makes file metadata description the correct height for formsets. Needed to override our new default textarea
textarea.shortarea {
    height: 38px;
}

table.filestable {
    td.filespath {
        padding-left: 10px;
    }
}

ul.live_notify_list {
    margin-left: -40px; //I don't understand the styling I'm having to override with this
}

//Adding alert-danger and alert to formset errors (without having to touch styles)
ul.errorlist { 
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    li {
        margin-left: 40px;
    }

}

table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    margin-left: -7px !important;
    font-size: .5rem !important;
    margin-top: 3px !important;
    //I can't seem to figure out how to change the color of the checkmark here
}

.page-title {
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    // margin-top: 1;
}

.manuscript-title {
    margin-bottom: 1rem;
    font-weight: 250;
    line-height: 1.2;
    font-size: 2rem;
    // margin-top: 0;
}

div.layout {
    background: #ffffff;
    //height: 100%; //This would make the white fill the screen, but it causes issues with scrollbars, formatting etc
}

div.fixed {
    max-width: 1140px;
    min-width: 800px;
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
}

div.full {
    padding: 0px 15px 15px 15px;
    min-width: 900px;
}

html, body {
    height: 100%;
}

body.fixed {
    background: #eeeeee;
}

body.full {
    background: #ffffff;
}

.navbar {
    background: #7386D5;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #8596d6;
    border-color: #989898
}

.btn-secondary {
    color: #000;
    background-color: #e7e7e7;
    border-color: #989898
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #000;
    background-color: #e7e7e7;
    border-color: #222
}

.btn.disabled, .btn:disabled {
    opacity: .3;
}

/* 
 * Datatables (we don't have direct control of the html, so a lot of overrides)
 */

.title {
    padding-top: 10px;
}

.cblue {
    color: #7386D5;
    // display:block;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #7386D5;
    opacity: .75;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #9fa8b1;
}

.dataTables_filter {
    margin-left: 10px;
    float: right;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.35em;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: .95em;
}

ul.pagination {
    float: right;
    a {
        color: #7386D5;
    }

    .page-item.active .page-link {
        color: #fff;
        background-color: #7386D5;
        border-color: #7386D5;
    }
}

table.dataTable tbody th.focus, table.dataTable tbody td.focus {
    box-shadow: unset; //inset 0 0 1px 2px #0275d8;
}

.dropdown-menu a:hover
{
  color: #fff;
  background-color: #7386D5;
  border-color: #fff;
}
.notification_count{
    &.badge {
        margin-top: -0.4em;
    }
}

.tableentryflex{
    display: flex;
}

//hide required asterix
.asteriskField { display: none; }

[id^=hint_id]{ display: none; } //disable showing all hints, we show them via tooltips

//To resolve collection buttons without background not closing right: https://datatables.net/forums/discussion/30377/problem-with-collection-button-and-the-background-false-option-with-workaround
.dt-button-background { background:transparent ! important; }

//fixes issue with inline formset checkboxes not going into their cells
td.custom-control {
    display: table-cell;
}

.tooltip-icon {
    color: #7386D5;
    margin-left: 2px;
    font-size: .9rem;
}
.tooltip-inner {
    background-color: #7386D5;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #7386D5;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #7386D5;
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #7386D5;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #7386D5;
}

//TODO: Enanabling the commented out lines gets iframe to size right, but then the form buttons get hidden. Figure out later.
iframe {
    //height: 50%;
    //position: absolute;
    height:800px;
    width: 100% ;
 }

/* progress bar. see https://stackoverflow.com/questions/5213753/ */
ol.progtrckr {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
ol.progtrckr li {
    display: table-cell;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}




/* Datatables OLD */

// body {
//     // font-family: 'Poppins', sans-serif;
//     // background: #fafafa;
// }

// p {
//     // font-family: 'Poppins', sans-serif;
//     // font-size: 1.1em;
//     // font-weight: 300;
//     // line-height: 1.7em;
//     // color: #999;
// }

// a, a:hover, a:focus {
//     // color: inherit;
//     // text-decoration: none;
//     // transition: all 0.3s;
// }

// .navbar {
//     // padding: 15px 10px;
//     // background: #fff !important;
//     // border: none;
//     // border-radius: 0;
//     // margin-bottom: 40px;
//     // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
// }

// .navbar-btn {
//     // box-shadow: none;
//     // outline: none !important;
//     // border: none;
//     // background: #fff !important;
// }

// .line {
//     // width: 100%;
//     // height: 1px;
//     // border-bottom: 1px dashed #ddd;
//     // margin: 40px 0;
// }


// .card.records {
//     // width:30%;
//     // height:120px;
//     // display:inline-block;
//     // margin-left: 20px;
// }

// .breadcrumb-item + .breadcrumb-item::before {
//     // content: none; 
// }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

// .wrapper {
//     display: flex;
//     width: 100%;
//     align-items: stretch;
//     perspective: 1500px;
// }


// #sidebar {
//     min-width: 250px;
//     max-width: 250px;
//     background: #7386D5;
//     color: #fff;
//     transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
//     transform-origin: bottom left;
// }

// #sidebar.active {
//     margin-left: -250px;
//     transform: rotateY(100deg);
// }

// #sidebar .sidebar-header {
//     padding: 20px;
//     background: #6d7fcc;
// }

// #sidebar ul.components {
//     padding: 20px 0;
//     border-bottom: 1px solid #47748b;
// }

// #sidebar ul p {
//     color: #fff;
//     padding: 10px;
// }

// #sidebar ul li a {
//     padding: 10px;
//     font-size: 1.1em;
//     display: block;
// }
// #sidebar ul li a:hover {
//     color: #7386D5;
//     background: #fff;
// }

// #sidebar ul li.active > a, a[aria-expanded="true"] {
//     color: #fff;
//     background: #6d7fcc;
// }


// a[data-toggle="collapse"] {
//     position: relative;
// }

// .dropdown-toggle::after {
//     display: block;
//     position: absolute;
//     top: 50%;
//     right: 20px;
//     transform: translateY(-50%);
// }

// ul ul a {
//     font-size: 0.9em !important;
//     padding-left: 30px !important;
//     background: #6d7fcc;
// }

// ul.CTAs {
//     padding: 20px;
// }

// ul.CTAs a {
//     text-align: center;
//     font-size: 0.9em !important;
//     display: block;
//     border-radius: 5px;
//     margin-bottom: 5px;
// }

// a.download {
//     background: #fff;
//     color: #7386D5;
// }

// a.article, a.article:hover {
//     background: #6d7fcc !important;
//     color: #fff !important;
// }

// a.logs, a.logs:hover{
//     background: #FFEB3B !important;
//     color: #3F51B5 !important;
// }



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
// #content {
//     width: 100%;
//     padding: 20px;
//     min-height: 100vh;
//     transition: all 0.3s;
// }

// #sidebarCollapse {
//     width: 40px;
//     height: 40px;
//     //background: #f5f5f5;
//     cursor: pointer;
// }

// #sidebarCollapse span {
//     width: 80%;
//     height: 2px;
//     margin: 0 auto;
//     display: block;
//     background: #555;
//     transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
//     transition-delay: 0.2s;
// }

// #sidebarCollapse span:first-of-type {
//     transform: rotate(45deg) translate(2px, 2px);
// }
// #sidebarCollapse span:nth-of-type(2) {
//     opacity: 0;
// }
// #sidebarCollapse span:last-of-type {
//     transform: rotate(-45deg) translate(1px, -1px);
// }


// #sidebarCollapse.active span {
//     transform: none;
//     opacity: 1;
//     margin: 5px auto;
// }


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
// @media (max-width: 768px) {
//     #sidebar {
//         margin-left: -250px;
//         transform: rotateY(90deg);
//     }
//     #sidebar.active {
//         margin-left: 0;
//         transform: none;
//     }
//     #sidebarCollapse span:first-of-type,
//     #sidebarCollapse span:nth-of-type(2),
//     #sidebarCollapse span:last-of-type {
//         transform: none;
//         opacity: 1;
//         margin: 5px auto;
//     }
//     #sidebarCollapse.active span {
//         margin: 0 auto;
//     }
//     #sidebarCollapse.active span:first-of-type {
//         transform: rotate(45deg) translate(2px, 2px);
//     }
//     #sidebarCollapse.active span:nth-of-type(2) {
//         opacity: 0;
//     }
//     #sidebarCollapse.active span:last-of-type {
//         transform: rotate(-45deg) translate(1px, -1px);
//     }

// }

